{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", "chevronright", "diamond", "parallelogram", and "round". (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - skip_styles: {Boolean} Don't include component styles. Useful when rendering multiple product cards in a loop. Default: false (optional)
  - quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}
{%- unless skip_styles -%}
  {{ 'component-rating.css' | asset_url | stylesheet_tag }}
  {{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}

  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'quick-order-list.css' | asset_url | stylesheet_tag }}
  {{ 'quantity-popover.css' | asset_url | stylesheet_tag }}
{%- endunless -%}

{% if template == "collection" or template == 'page.favorites' %}

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

<style>

  .card__badge{
    display: none;
  }

  .card__heading a::after{
    display: none;
  }
  .pagination__item--current::after, .pagination__item:hover::after{
    opacity: 0;
  }
  .facets-vertical .facets__summary{
    padding-top: 24px;
    padding-bottom: 11px;
  }
  
  .facets__summary span:first-of-type{
    color: #05060B;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .facets-vertical .facets-wrapper{
    border: none !important;
  }

  .collection-filter .collection-filter-icon svg{
    height: 0.6rem;
  }
  .collection-filter .collection-filter-icon svg.rotated{
    transform: rotate(180deg);
  }

  .facets__disclosure-vertical{
    border-top: 0;
    border-bottom: 1px solid #D9D9D9;
  }
  .facets__price .field-currency{
    margin-right: 16px;
  }
  .collection-filter ul li a{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 4px;
    color: #05060B;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  .collection-filter ul li a .icon{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .field:after, .select:after, .customer .field:after, .customer select:after, .localization-form__select:after{
    box-shadow: none;
    border-radius: 12px;
    border: 1px solid #E0E0E0;
    transition: all 0.3s ease;
  }
  .field:hover.field:after, .select:hover.select:after, .select__select:hover.select__select:after, .customer .field:hover.field:after, .customer select:hover.select:after, .localization-form__select:hover.localization-form__select:after{
    box-shadow: none;
    border-radius: 12px;
    border: 1px solid rgb(167, 159, 159);
  }

  .facets__header-vertical{
    display: none;
  }
  .pagination__item{
    border-radius: 12px;
    border: 1px solid #E0E0E0;
    transition: all 0.3s ease;
    color: #727272;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .pagination__item--current, .pagination__item:hover, .pagination__item--current::after, .pagination__item:hover::after{
    color: #40AE00 !important;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border: 1px solid #40AE00;
  }

  .custom-product-badge__wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 11;
  }

  .custom-product-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    gap: 2px;
    border-radius: 5px;
    height: 26px;
  }

  .custom-product-badge p {
    color: #fff;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .change-view-block-btns{
    display: flex;
    align-items: center;
    gap: 9px;
    color: #05060B;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  .change-view-block-btns-list{
    display: flex;
    gap: 6px;
  }
  .change-view-block-btns-list button{
    width: 29px;
    height: 29px;
    border-radius: 8px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #C7C7C7;
    cursor: pointer;
    transition: all 0.3s ease;
    gap: 4px;
  }
  .change-view-block-btns-list button:hover{
    border: 1px solid #60AC22;
  }
  .change-view-block-btns-list button:hover span{
    background: #60AC22;
  }

  .change-view-block-btns-list button span{
    transition: all 0.3s ease;
    border-radius: 65px;
  }

  .change-view-block-btns-list button.vertical-align-btn-3-columns{
    gap: 3px;
  }
  .change-view-block-btns-list button.vertical-align-btn-4-columns{
    gap: 2px;
  }
  .change-view-block-btns-list button.vertical-align-btn-4-columns span{
    width: 2px;
  }
  .change-view-block-btns-list button.vertical-align-btn-5-columns{
    gap: 1px;
  }
  .change-view-block-btns-list button.vertical-align-btn-5-columns span{
    width: 2px;
  }

  .horizontal-align-btn{
    flex-direction: column;
  }

  .horizontal-stick{
    height: 3px;
    width: 20px;
    background: #C7C7C7;
  }

  .vertical-stick{
    height: 20px;
    width: 3px;
    background: #C7C7C7;
  }

  .quick-view__block {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(39, 39, 39, 0.69);
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid #E0E0E0;
    top: 5px;
    right: 3px;
    max-width: 41px;
    height: 41px;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 15;
  }
  .quick-view__block:hover{
    max-width: 130px;
  }
  .quick-view__block:hover .quick-view__btn-text{
    display: block;
  }
  
  .quick-view__btn {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
  }
  .quick-view__btn-image {
    background: none;
  }
  .quick-view__btn-text {
    padding: 12px 8px;
    color: #FFF;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    display: none;
  }

  .collection-card-under-metafield-text{
    color: #727272;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 245px;
  }
  .collection-card-btns-wrap{
    display: flex;
    gap: 21px;
    align-items: center;
    margin-left: auto;
  }
  .collection-card-under-link{
    text-decoration: none;
    color: #40AE00;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    transition: all 0.3s ease;
    white-space: nowrap;
  }
  .collection-card-under-link:hover{
    transform: scale(1.05);
  }

  .collection-card-under-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 21px;
    padding-top: 13px;
    padding-bottom: 22px;
    border-top: 1px solid #EAEAEA;
  }

  .collection-card-span-wrap{
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .collection-card-under-wrap .quick-add__submit{
    white-space: nowrap;
    transition: all 0.3s ease;
  }
  .collection-card-under-wrap .quick-add__submit:hover{
    transform: scale(1.05);
  }

  .collection-card-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .collection-card-heading-icons{
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    top: 22px;
    right: 33px;
  }

  .card-information > *:not(.visually-hidden:first-child) + *:not(.rating):not(.card__information-volume-pricing-note){
    margin-top: 0 !important;
    margin: 0 0 0 0 !important;
  }

  .quick-add__submit{
    padding: 10px 13px;
  }

  .items-count-text-bold{
    color: #05060B !important;
    font-family: "Proxima Nova" !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 900 !important;
    line-height: normal !important;
    padding-right: 9px;
  }

  .product-count-vertical{
    opacity: 1;
  }

  .collections-head-rating{
    display: flex;
    align-items: center;
    gap: 11px;
    padding-bottom: 11px;
  }

  .facet-filters__label{
    color: #05060B;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  
  .facet-filters__sort{
    color: #727272;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 12px !important;
    border: 1px solid #E0E0E0;
    padding: 15px 16px;
  }

  .select .svg-wrapper{
    right: 16px;
  }

  .product-count__text span{
    color: #727272;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .facets-vertical-form{
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    top: 40px;
    z-index: 15;
  }

  .select__select:focus{
    box-shadow: unset !important;
  }

  *:focus-visible{
    outline: 0 !important;
    outline-offset: unset !important;
    box-shadow: unset !important;
  }

  .card:not(.ratio){
    flex-direction: row !important;
    gap: 25px;
  }
  .facets-vertical .facets-wrapper{
    margin-right: 19px;
    
    max-width: 281px;
    width: 100%;
    border: 1px solid #E0E0E0;
  }
  .facets__form-vertical{
    padding: 15px 19px 23px 21px;
  }
  .grid--1-col-desktop .grid__item{
    height: 211px;
    border: 1px solid #E0E0E0;
    transition: all 0.3s ease;
  }
  .grid--1-col-desktop .grid__item:hover{
    background: #FFF;
    box-shadow: 0px 0px 18.6px 0px rgba(0, 0, 0, 0.23);
  }
  .grid{
    row-gap: 11px;
  }
  .facets-vertical .product-grid-container{
    padding-top: 55px;
  }
  .card .card__inner .card__media{
    z-index: 5;
  }
  .card__media .media img{
    object-fit: contain;
  }

  .quick-add{
    margin: 0 0 0 0 !important;
  }

  .quick-add__submit{
    min-width: unset;
    width: unset;
    border-radius: 12px;
    background: #40AE00;

    color: #FFF;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  .button--secondary:after{
    box-shadow: none;
  }
  .button:after, .shopify-challenge__button:after, .customer button:after, .shopify-payment-button__button--unbranded:after{
    box-shadow: none;
    opacity: 0;
  }
  .full-unstyled-link{
    color: #000;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .card--card, .card--standard .card__inner{
    max-width: 277px;
    width: 100%;
  }
  .custom-adventages-list-item{
    align-items: center;
  }

   @media screen and (max-width: 768px){
    .card:not(.ratio){
      flex-direction: column !important;
    }
    .grid--1-col-desktop .grid__item{
      height: 100%;
    }
    .quick-view__block{
      top: 10px;
      right: 60px;
      {% comment %} transform: translate(-50%, -50%); {% endcomment %}
    }
    .card--card, .card--standard .card__inner{
      max-width: 100%;
    }
    .collection-breadcrumbs{
      margin-top: 81px;
    }
  }

</style>
{% endif %}


{%- if card_product and card_product != empty -%}
  {%- liquid
    assign ratio = 1
    if card_product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = card_product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == null
      assign ratio = 1
    endif
  -%}
  <div class="card-wrapper product-card-wrapper underline-links-hover">
    <div
      class="
        card card--{{ settings.card_style }}
        {% if card_product.featured_media %} card--media{% else %} card--text{% endif %}
        {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
        {% if image_shape and image_shape != 'default' %} card--shape{% endif %}
        {% if extend_height %} card--extend-height{% endif %}
        {% if card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}
        {% if horizontal_class %} card--horizontal{% endif %}
      "
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <div
        class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %}{% if card_product.featured_media or settings.card_style == 'standard' %} ratio{% endif %}"
        style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%; background-color: #fff;"
      >
        {%- if card_product.featured_media -%}
          <a href="{{ card_product.url }}" class="card__media{% if image_shape and image_shape != 'default' %} shape--{{ image_shape }} color-{{ settings.card_color_scheme }} gradient{% endif %}">
            <div class="media media--transparent media--hover-effect">
              {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
              <img
                srcset="
                  {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
                "
                src="{{ card_product.featured_media | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ card_product.featured_media.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}
                  loading="lazy"
                {% endunless %}
                width="{{ card_product.featured_media.width }}"
                height="{{ card_product.featured_media.height }}"
              >
              {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}

              {%- if card_product.media[1] != null and show_secondary_image -%}
                <img
                srcset="
                    {%- if card_product.media[1].width >= 165 -%}{{ card_product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if card_product.media[1].width >= 360 -%}{{ card_product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if card_product.media[1].width >= 533 -%}{{ card_product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                    {%- if card_product.media[1].width >= 720 -%}{{ card_product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                    {%- if card_product.media[1].width >= 940 -%}{{ card_product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
                    {%- if card_product.media[1].width >= 1066 -%}{{ card_product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                    {{ card_product.media[1] | image_url }} {{ card_product.media[1].width }}w
                  "
                  src="{{ card_product.media[1] | image_url: width: 533 }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                  alt=""
                  class="motion-reduce"
                  loading="lazy"
                  width="{{ card_product.media[1].width }}"
                  height="{{ card_product.media[1].height }}"
                >
              {%- endif -%}
            </div>
          </a>
        {%- endif -%}
        <div class="card__content">
          {% if card_product.metafields.custom.product_custom_badge %}
            <div class="custom-product-badge__wrapper">
                <div class='custom-product-badge' style='background: {{ card_product.metafields.custom.product_custom_badge.value.background_badge }};'>
                  <div class="icon-before-badge-name">
                    <img src='{{ card_product.metafields.custom.product_custom_badge.value.icon | img_url: 'master' }}' alt='{{ card_product.metafields.custom.product_custom_badge.value.name }}'>
                  </div> 
                  <p style='{% if card_product.metafields.custom.product_custom_badge.value.name == 'Bestseller' %}color: #05060B;{% endif %}'>{{ card_product.metafields.custom.product_custom_badge.value.name }}</p>
                </div>
            </div>
          {% endif %}
          <button class="quick-view__block quick-view__block--{{ card_product.id }}"
            data-handle="{{ card_product.handle }}"
            data-product-id="{{ card_product.id }}"
            data-product-title="{{ card_product.title }}"
            data-product-description="{{ card_product.description | strip_html }}"
            data-product-price="{{ card_product.price }}"
            data-product-old-price="{{ card_product.compare_at_price }}"
            data-product-subtitle="{{ card_product.metafields.custom.subtitle.value }}"
            data-product-images="{{ card_product.images | join: ',' }}"
          >
            <div class="quick-view__btn">
              <span class="quick-view__btn-image">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <g clip-path="url(#clip0_213_4237)">
                    <path d="M8 3.23145C4.94303 3.23145 2.17081 4.90394 0.125192 7.62052C-0.0417306 7.84308 -0.0417306 8.15402 0.125192 8.37658C2.17081 11.0964 4.94303 12.7689 8 12.7689C11.057 12.7689 13.8292 11.0964 15.8748 8.37985C16.0417 8.15729 16.0417 7.84636 15.8748 7.6238C13.8292 4.90394 11.057 3.23145 8 3.23145ZM8.21929 11.3583C6.19004 11.4859 4.51427 9.81342 4.64191 7.7809C4.74665 6.10513 6.10494 4.74684 7.78071 4.6421C9.80996 4.51446 11.4857 6.18695 11.3581 8.21948C11.2501 9.89197 9.89179 11.2503 8.21929 11.3583ZM8.11783 9.80688C7.02465 9.87561 6.1213 8.97554 6.19331 7.88236C6.24895 6.97902 6.9821 6.24914 7.88545 6.19023C8.97862 6.12149 9.88197 7.02157 9.80996 8.11474C9.75105 9.02136 9.0179 9.75124 8.11783 9.80688Z" fill="white" style="fill:white;fill-opacity:1;"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_213_4237">
                      <rect width="16" height="16" fill="white" style="fill:white;fill-opacity:1;"/>
                    </clipPath>
                  </defs>
                </svg>
              </span>
              <span class="quick-view__btn-text">Quick view</span>
            </div>
          </button>
          <div class="card__information">
            <h3
              class="card__heading"
              {% if card_product.featured_media == null and settings.card_style == 'standard' %}
                id="title-{{ section_id }}-{{ card_product.id }}"
              {% endif %}
            >
              <a
                href="{{ card_product.url }}"
                id="StandardCardNoMediaLink-{{ section_id }}-{{ card_product.id }}"
                class="full-unstyled-link"
                aria-labelledby="StandardCardNoMediaLink-{{ section_id }}-{{ card_product.id }} NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}"
              >
                {{ card_product.title | escape }}
              </a>
            </h3>
          </div>
          <div class="card__badge {{ settings.badge_position }}">
            {%- if card_product.available == false -%}
              <span
                id="NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}"
                class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}"
              >
                {{- 'products.product.sold_out' | t -}}
              </span>
            {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
              <span
                id="NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}"
                class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}"
              >
                {{- 'products.product.on_sale' | t -}}
              </span>
            {%- endif -%}
          </div>
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <h3
            class="card__heading{% if card_product.featured_media or settings.card_style == 'standard' %} h5{% endif %}"
            {% if card_product.featured_media or settings.card_style == 'card' %}
              id="title-{{ section_id }}-{{ card_product.id }}"
            {% endif %}
          >
            <div class="collections-head-rating">
              <div class='jdgm-widget jdgm-preview-badge'>
                {{ card_product.metafields.judgeme.badge }}
              </div>
            </div>
            <div class="collection-card-heading">
            <a
              href="{{ card_product.url }}"
              id="CardLink-{{ section_id }}-{{ card_product.id }}"
              class="full-unstyled-link"
              aria-labelledby="CardLink-{{ section_id }}-{{ card_product.id }} Badge-{{ section_id }}-{{ card_product.id }}"
            >
              {{ card_product.title | escape }}
            </a>
            <div class="collection-card-heading-icons">
          

                        <button style="cursor: pointer;"class="collection-card-heading-icon-wishlistt" data-product-url="{{ card_product.url }}" data-favorite="{{ card_product.id }}" data-variant-id="{{ card_product.variants.first.id }}">
                                     <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g id="Black">
                                            <path id="Vector" d="M6.11717 0.020401C3.07029 0.245401 0.539043 2.55634 0.0656057 5.55634C-0.0375193 6.20321 -0.00470676 7.50165 0.131231 8.0829C0.440606 9.40477 1.02186 10.4735 2.04842 11.6079C3.13123 12.8032 6.08436 15.4516 9.53904 18.3251C11.1375 19.6516 11.3484 19.8204 11.5312 19.9141C11.7656 20.036 12.2484 20.0266 12.4922 19.9001C12.7734 19.7595 16.5984 16.5579 18.4687 14.9032C20.3109 13.272 21.8625 11.772 22.364 11.1391C23.1328 10.1688 23.6015 9.21727 23.8687 8.0829C24.0047 7.48759 24.0375 6.18915 23.9297 5.53759C23.4562 2.6829 21.2062 0.489151 18.3047 0.0625877C17.7937 -0.0124111 16.7015 -0.0030365 16.2187 0.0813389C15.2578 0.250088 14.3015 0.639149 13.5 1.18759C13.2703 1.34696 12.839 1.7079 12.539 1.99384L12 2.50946L11.4609 1.99384C11.1609 1.7079 10.7344 1.35165 10.5047 1.19227C9.19686 0.296963 7.72498 -0.0967865 6.11717 0.020401ZM7.89842 2.33134C8.37654 2.47665 8.94373 2.74852 9.29998 3.00165C9.43123 3.0954 9.94217 3.56884 10.4297 4.05165C10.9219 4.53446 11.3906 4.96102 11.4797 5.0079C11.5687 5.05009 11.7609 5.10165 11.9156 5.11102C12.4031 5.1579 12.5156 5.0829 13.5469 4.07509C14.0484 3.57821 14.5687 3.0954 14.7 3.00165C15.0469 2.75321 15.614 2.47665 16.1015 2.33134C16.4953 2.20946 16.5797 2.20009 17.3437 2.20009C18.1031 2.20009 18.1969 2.20946 18.5765 2.32665C20.0484 2.78134 21.1453 3.82196 21.6047 5.20009C22.1015 6.6954 21.7922 8.30321 20.7515 9.67196C20.3297 10.2204 18.8297 11.6735 17.1094 13.1876C15.2344 14.8423 12.0844 17.5001 12 17.5001C11.9437 17.5001 10.2609 16.0985 8.53123 14.6126C5.39998 11.922 3.60467 10.2157 3.03748 9.37665C1.12029 6.55477 2.48436 2.9829 5.77029 2.24228C5.98123 2.1954 6.27654 2.17665 6.77342 2.19071C7.36873 2.20477 7.54217 2.22352 7.89842 2.33134Z" fill="#C7C7C7" style="fill:#C7C7C7;fill:color(display-p3 0.7822 0.7822 0.7822);fill-opacity:1;"/>
                                        </g>
                                    </svg>
                                </button>
                                              
              <div class="collection-card-heading-icon-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M10.8286 0.0326553C8.57855 0.26703 6.45511 1.12953 4.69261 2.51703C4.11605 2.97172 3.20199 3.89047 2.78949 4.42953C2.61136 4.65922 2.45199 4.87016 2.43324 4.88891C2.41918 4.91234 2.23636 4.85609 2.03949 4.76234C1.60824 4.56547 1.41605 4.54672 1.27543 4.70141C1.13949 4.84672 1.13949 4.92172 1.31293 6.78734C1.48168 8.62016 1.47699 8.60141 1.60824 8.69516C1.78636 8.81703 1.98324 8.77953 2.30199 8.55922C3.56761 7.69203 4.95511 6.67484 5.00668 6.57641C5.0723 6.45453 5.04886 6.26234 4.95511 6.14516C4.92699 6.11234 4.74418 6.00922 4.55668 5.92484L4.2098 5.76547L4.36918 5.56859C4.64105 5.21234 5.30668 4.54203 5.73324 4.19047C9.70355 0.86703 15.5957 1.23734 19.1207 5.03422C20.227 6.22484 20.9254 7.45297 21.4223 9.08422C21.5395 9.48266 21.6004 9.59984 21.7504 9.74984C22.2239 10.2233 23.0207 10.0733 23.302 9.44984C23.4239 9.18266 23.4145 9.01391 23.2457 8.41391C22.9129 7.24203 22.2707 5.91547 21.5442 4.89828C20.9348 4.04516 19.8801 2.96703 19.0598 2.34828C17.4004 1.10141 15.5395 0.346718 13.4301 0.0748428C12.9192 0.00453032 11.3161 -0.0189072 10.8286 0.0326553Z" fill="#C7C7C7" style="fill:#C7C7C7;fill:color(display-p3 0.7822 0.7822 0.7822);fill-opacity:1;"/>
                  <path d="M10.6876 3.98447C8.93445 4.29385 7.54695 5.01103 6.32351 6.22978C4.78132 7.77666 3.97976 9.70791 3.97976 11.8876C3.97507 12.6751 4.03132 13.1579 4.20476 13.8517C4.55163 15.272 5.23601 16.4907 6.27195 17.5501C7.53288 18.8345 9.11726 19.6267 10.8985 19.8798C11.4423 19.9548 12.5579 19.9548 13.1016 19.8798C16.0219 19.4673 18.5063 17.4892 19.5188 14.7563C19.8704 13.8095 20.0251 12.947 20.0204 11.8876C20.0204 9.70791 19.2188 7.77666 17.6766 6.22978C16.4298 4.9876 14.9579 4.24697 13.1907 3.96572C12.5344 3.8626 11.3344 3.87197 10.6876 3.98447ZM11.0251 6.61885C11.0391 7.24228 11.0579 7.35947 11.1423 7.52822C11.4469 8.10947 12.1735 8.23603 12.661 7.79541C12.9188 7.56103 12.9844 7.30791 12.9844 6.52978C12.9844 5.8126 12.9376 5.85478 13.5094 6.0001C14.6204 6.28603 15.5719 6.84853 16.4063 7.71572C17.1891 8.53135 17.7141 9.50166 17.9532 10.5798L18.0376 10.9688H17.3063C16.6594 10.9688 16.5516 10.9782 16.3688 11.0673C15.8157 11.3392 15.6938 12.136 16.1391 12.5813C16.4063 12.8438 16.5938 12.8907 17.3813 12.8907H18.0376L17.9719 13.1813C17.5548 15.0188 16.3735 16.5423 14.7329 17.3626C14.2594 17.597 13.7391 17.7845 13.2985 17.8782L12.9938 17.9392L12.9798 17.2079C12.961 16.5095 12.9563 16.4673 12.8298 16.2563C12.4594 15.6235 11.5407 15.6235 11.1704 16.2563C11.0438 16.4673 11.0391 16.5095 11.0204 17.2079L11.0063 17.9392L10.7016 17.8782C8.62507 17.4423 6.84851 15.8251 6.19695 13.7813C6.11726 13.5376 6.04226 13.2376 6.02351 13.111L5.9907 12.8907H6.63288C7.40163 12.8907 7.59851 12.8438 7.85632 12.586C8.18913 12.2532 8.23132 11.7938 7.96882 11.3767C7.74851 11.0298 7.5657 10.9688 6.69382 10.9688H5.96257L6.0282 10.6595C6.13132 10.1767 6.30945 9.6751 6.56726 9.15947C7.31257 7.65947 8.81257 6.44072 10.4298 6.01885C11.0626 5.85478 11.0016 5.79385 11.0251 6.61885Z" fill="#C7C7C7" style="fill:#C7C7C7;fill:color(display-p3 0.7822 0.7822 0.7822);fill-opacity:1;"/>
                  <path d="M1.1204 14.0999C0.918835 14.203 0.843835 14.278 0.74071 14.4796C0.57196 14.803 0.576647 14.9624 0.768835 15.6139C1.31727 17.4514 2.23133 19.0264 3.54852 20.3952C5.50321 22.4155 7.80477 23.5686 10.6173 23.9342C11.4563 24.0421 13.1345 24.0046 13.9454 23.8639C15.9329 23.5124 17.6907 22.7389 19.2657 21.5249C19.9595 20.9858 21.047 19.8514 21.5954 19.0827C21.6001 19.0733 21.7688 19.1436 21.9657 19.2374C22.3923 19.4389 22.5798 19.453 22.7345 19.2889C22.8751 19.1436 22.8704 19.1249 22.6876 17.1796C22.5188 15.3796 22.5235 15.3983 22.3923 15.3046C22.1438 15.1311 22.0688 15.1733 20.5173 16.2655C19.6688 16.8655 19.0313 17.3483 18.9938 17.4186C18.9282 17.5452 18.9516 17.7374 19.0407 17.8499C19.0688 17.8827 19.2516 17.9811 19.4438 18.0702L19.7907 18.2342L19.636 18.4311C19.3735 18.7686 18.7032 19.4483 18.2579 19.8186C16.9407 20.9249 15.3001 21.6655 13.5282 21.9655C12.9048 22.0686 11.7938 22.1014 11.1329 22.0358C8.51259 21.7686 6.34227 20.6436 4.56571 18.6186C3.77352 17.7186 3.07977 16.4577 2.66727 15.1733C2.45165 14.503 2.40477 14.3952 2.2454 14.2405C1.93133 13.9405 1.52352 13.8889 1.1204 14.0999Z" fill="#C7C7C7" style="fill:#C7C7C7;fill:color(display-p3 0.7822 0.7822 0.7822);fill-opacity:1;"/>
                </svg>
              </div>
            </div>
            </div>

            
          </h3>
          <div class="card-information">
            {%- if show_vendor -%}
              <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
              <div class="caption-with-letter-spacing light">{{ card_product.vendor }}</div>
            {%- endif -%}

            <span class="caption-large light">{{ block.settings.description | escape }}</span>

            {% render 'price', product: card_product, price_class: '', show_compare_at_price: true %}
            {%- if card_product.quantity_price_breaks_configured? -%}
              {% if card_product.variants.size == 1 and quick_add == 'bulk' %}
                {% liquid
                  assign quantity_rule = card_product.selected_or_first_available_variant.quantity_rule
                  assign has_qty_rules = false
                  if quantity_rule.increment > 1 or quantity_rule.min > 1 or quantity_rule.max != null
                    assign has_qty_rules = true
                  endif
                %}
                <quantity-popover>
                  <button class="card__information-volume-pricing-note card__information-volume-pricing-note--button card__information-volume-pricing-note--button-{{ settings.card_text_alignment }} quantity-popover__info-button--icon-only button button button--tertiary medium-hide small-hide">
                    <span class="caption">{{ 'products.product.volume_pricing.note' | t }}</span>
                  </button>
                  <button class="card__information-volume-pricing-note card__information-volume-pricing-note--button card__information-volume-pricing-note--button-{{ settings.card_text_alignment }} quantity-popover__info-button--icon-with-label button button--tertiary large-up-hide">
                    <span class="caption">{{ 'products.product.volume_pricing.note' | t }}</span>
                  </button>
              {% else %}
                <div class="card__information-volume-pricing-note">
                  <span class="caption">{{ 'products.product.volume_pricing.note' | t }}</span>
                </div>
              {% endif %}
              {% if card_product.variants.size == 1 and quick_add == 'bulk' %}
                <div
                  class="global-settings-popup quantity-popover__info"
                  tabindex="-1"
                  hidden
                  id="quantity-popover-info-{{ card_product.selected_or_first_available_variant.id }}"
                >
                  {%- if has_qty_rules -%}
                    <div class="quantity__rules caption no-js-hidden">
                      {%- if quantity_rule.increment > 1 -%}
                        <span class="divider">
                          {{- 'products.product.quantity.multiples_of' | t: quantity: quantity_rule.increment -}}
                        </span>
                      {%- endif -%}
                      {%- if quantity_rule.min > 1 -%}
                        <span class="divider">
                          {{- 'products.product.quantity.min_of' | t: quantity: quantity_rule.min -}}
                        </span>
                      {%- endif -%}
                      {%- if quantity_rule.max != null -%}
                        <span class="divider">
                          {{- 'products.product.quantity.max_of' | t: quantity: quantity_rule.max -}}
                        </span>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                  <button
                    class="button-close button button--tertiary large-up-hide"
                    type="button"
                    aria-label="{{ 'accessibility.close' | t }}"
                  >
                    {{- 'icon-close.svg' | inline_asset_content -}}
                  </button>
                  {%- if card_product.selected_or_first_available_variant.quantity_price_breaks.size > 0 -%}
                    <volume-pricing class="parent-display">
                      <ul class="list-unstyled">
                        <li>
                          <span>{{ card_product.selected_or_first_available_variant.quantity_rule.min }}+</span>
                          {%- assign price = card_product.selected_or_first_available_variant.price
                            | money_with_currency
                          -%}
                          <span>{{ 'sections.quick_order_list.each' | t: money: price }}</span>
                        </li>
                        {%- for price_break in card_product.selected_or_first_available_variant.quantity_price_breaks -%}
                          <li>
                            <span>
                              {{- price_break.minimum_quantity -}}
                              <span aria-hidden="true">+</span></span
                            >
                            {%- assign price = price_break.price | money_with_currency -%}
                            <span> {{ 'sections.quick_order_list.each' | t: money: price }}</span>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </volume-pricing>
                  {%- endif -%}
                </div>
                </quantity-popover>
              {% endif %}
            {%- endif -%}
          </div>
          
        </div>
        {% assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id %}
        {% if quick_add == 'standard' %}
          <div class="quick-add no-js-hidden">
            {%- liquid
              assign qty_rules = false
              if card_product.selected_or_first_available_variant.quantity_rule.min > 1 or card_product.selected_or_first_available_variant.quantity_rule.max != null or card_product.selected_or_first_available_variant.quantity_rule.increment > 1
                assign qty_rules = true
              endif
            -%}
            {%- if card_product.variants.size > 1 or qty_rules -%}
              <modal-opener data-modal="#QuickAdd-{{ card_product.id }}">
                <div class="collection-card-under-wrap">
                      <p class="collection-card-under-metafield-text">{{ card_product.metafields.custom.subtitle.value | truncate: 69, "..." }}</p>
                  <div class="collection-card-btns-wrap">
                    <a href="{{ card_product.url }}" class="collection-card-under-link">Learn more</a>
                    <button
                      id="{{ product_form_id }}-submit"
                      type="submit"
                      name="add"
                      class="quick-add__submit button button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add animate-arrow{% endif %}"
                      aria-haspopup="dialog"
                      aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                      data-product-url="{{ card_product.url }}"
                    >
                      
                      <span class="collection-card-span-wrap">
                        <span>Buy now</span>
                        <span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="23" viewBox="0 0 20 23" fill="none">
                            <path d="M8.92495 0.024348C8.15145 0.166835 7.34233 0.487432 6.73675 0.894538C6.2584 1.21513 5.54088 1.97337 5.24573 2.4619C4.80809 3.19978 4.55365 4.14121 4.55365 5.04194V5.41342L3.57659 5.43378C2.6148 5.44904 2.58936 5.45413 2.31456 5.59153C1.82603 5.84597 1.47999 6.25308 1.30188 6.79758C1.24591 6.97569 0.329916 19.5349 0.314649 20.3135C0.304471 21.0972 0.691223 21.7333 1.38839 22.0743L1.72934 22.2422H9.74425H17.7592L18.0492 22.1048C18.6344 21.83 19.0619 21.2804 19.1586 20.6748C19.2197 20.283 18.2782 7.13345 18.1612 6.74669C18.0085 6.23781 17.6727 5.84597 17.1739 5.59153C16.8992 5.45413 16.8737 5.44904 15.9221 5.43378L14.9501 5.41851L14.9145 4.91472C14.8636 4.09541 14.7059 3.47966 14.3751 2.82829C13.7085 1.5052 12.538 0.548498 11.1132 0.151569C10.7264 0.0447033 10.4974 0.0192592 9.89692 0.00399269C9.48981 -0.00618497 9.05217 0.00399269 8.92495 0.024348ZM10.4821 1.7342C10.6806 1.77491 11.0521 1.9123 11.3116 2.03953C12.4159 2.58912 13.1487 3.70357 13.2403 4.97069L13.2708 5.4236H9.74425H6.21769L6.24823 4.97069C6.31438 4.06488 6.65533 3.31682 7.31179 2.66545C7.96316 2.01917 8.79773 1.66804 9.71881 1.66295C9.94272 1.66295 10.2888 1.69348 10.4821 1.7342ZM4.59945 9.23513C4.57909 11.3877 4.57909 11.4233 4.68596 11.5658C4.87933 11.8253 5.09815 11.9373 5.41366 11.9373C5.75461 11.9373 5.9429 11.8304 6.11592 11.5455L6.23296 11.3521V9.19951V7.05202H9.74425H13.2555V9.18933C13.2555 11.2198 13.2606 11.3419 13.3573 11.5251C13.6321 12.0696 14.4158 12.09 14.8026 11.5658C14.9043 11.4233 14.9094 11.3623 14.9247 9.23513L14.94 7.04694L15.6727 7.0622C16.2681 7.07238 16.4208 7.09274 16.492 7.15889C16.6142 7.28611 17.5505 20.3033 17.4437 20.4713L17.3775 20.5883H9.74425H2.11101L2.04485 20.4713C1.98379 20.3746 2.03467 19.4993 2.44178 13.81C2.70131 10.2122 2.93031 7.24031 2.95066 7.20469C3.02191 7.08765 3.21528 7.05711 3.91245 7.05711L4.61471 7.05202L4.59945 9.23513Z" fill="white" style="fill:white;fill-opacity:1;"/>
                          </svg>
                        </span>
                      </span>
                      {%- if horizontal_quick_add -%}
                        <span class="icon-wrap">
                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                        </span>
                      {%- endif -%}
                      {%- render 'loading-spinner' -%}
                    </button>
                  </div>
                </div>
              </modal-opener>
              <quick-add-modal id="QuickAdd-{{ card_product.id }}" class="quick-add-modal">
                <div
                  role="dialog"
                  aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}"
                  aria-modal="true"
                  class="quick-add-modal__content global-settings-popup"
                  tabindex="-1"
                >
                  <button
                    id="ModalClose-{{ card_product.id }}"
                    type="button"
                    class="quick-add-modal__toggle"
                    aria-label="{{ 'accessibility.close' | t }}"
                  >
                    {{- 'icon-close.svg' | inline_asset_content -}}
                  </button>
                  <div id="QuickAddInfo-{{ card_product.id }}" class="quick-add-modal__content-info"></div>
                </div>
              </quick-add-modal>
            {%- else -%}
              <product-form data-section-id="{{ section.id }}">
                {%- form 'product',
                  card_product,
                  id: product_form_id,
                  class: 'form',
                  novalidate: 'novalidate',
                  data-type: 'add-to-cart-form'
                -%}
                  <input
                    type="hidden"
                    name="id"
                    value="{{ card_product.selected_or_first_available_variant.id }}"
                    class="product-variant-id"
                    {% if card_product.selected_or_first_available_variant.available == false %}
                      disabled
                    {% endif %}
                  >
{% comment %} 213 {% endcomment %}
                    <div class="collection-card-under-wrap">
                      <p class="collection-card-under-metafield-text">{{ card_product.metafields.custom.subtitle.value | truncate: 69, "..." }}</p>

                      <div class="collection-card-btns-wrap">
                        <a href="{{ card_product.url }}" class="collection-card-under-link">Learn more</a>
                        <button
                          id="{{ product_form_id }}-submit"
                          type="submit"
                          name="add"
                          class="quick-add__submit button button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add{% endif %}"
                          aria-haspopup="dialog"
                          aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                          aria-live="polite"
                          data-sold-out-message="true"
                          {% if card_product.selected_or_first_available_variant.available == false %}
                            disabled
                          {% endif %}
                        >
                          <span class="collection-card-span-wrap">
                            {%- if card_product.selected_or_first_available_variant.available -%}

                              <span>Buy now</span>
                              <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="23" viewBox="0 0 20 23" fill="none">
                                  <path d="M8.92495 0.024348C8.15145 0.166835 7.34233 0.487432 6.73675 0.894538C6.2584 1.21513 5.54088 1.97337 5.24573 2.4619C4.80809 3.19978 4.55365 4.14121 4.55365 5.04194V5.41342L3.57659 5.43378C2.6148 5.44904 2.58936 5.45413 2.31456 5.59153C1.82603 5.84597 1.47999 6.25308 1.30188 6.79758C1.24591 6.97569 0.329916 19.5349 0.314649 20.3135C0.304471 21.0972 0.691223 21.7333 1.38839 22.0743L1.72934 22.2422H9.74425H17.7592L18.0492 22.1048C18.6344 21.83 19.0619 21.2804 19.1586 20.6748C19.2197 20.283 18.2782 7.13345 18.1612 6.74669C18.0085 6.23781 17.6727 5.84597 17.1739 5.59153C16.8992 5.45413 16.8737 5.44904 15.9221 5.43378L14.9501 5.41851L14.9145 4.91472C14.8636 4.09541 14.7059 3.47966 14.3751 2.82829C13.7085 1.5052 12.538 0.548498 11.1132 0.151569C10.7264 0.0447033 10.4974 0.0192592 9.89692 0.00399269C9.48981 -0.00618497 9.05217 0.00399269 8.92495 0.024348ZM10.4821 1.7342C10.6806 1.77491 11.0521 1.9123 11.3116 2.03953C12.4159 2.58912 13.1487 3.70357 13.2403 4.97069L13.2708 5.4236H9.74425H6.21769L6.24823 4.97069C6.31438 4.06488 6.65533 3.31682 7.31179 2.66545C7.96316 2.01917 8.79773 1.66804 9.71881 1.66295C9.94272 1.66295 10.2888 1.69348 10.4821 1.7342ZM4.59945 9.23513C4.57909 11.3877 4.57909 11.4233 4.68596 11.5658C4.87933 11.8253 5.09815 11.9373 5.41366 11.9373C5.75461 11.9373 5.9429 11.8304 6.11592 11.5455L6.23296 11.3521V9.19951V7.05202H9.74425H13.2555V9.18933C13.2555 11.2198 13.2606 11.3419 13.3573 11.5251C13.6321 12.0696 14.4158 12.09 14.8026 11.5658C14.9043 11.4233 14.9094 11.3623 14.9247 9.23513L14.94 7.04694L15.6727 7.0622C16.2681 7.07238 16.4208 7.09274 16.492 7.15889C16.6142 7.28611 17.5505 20.3033 17.4437 20.4713L17.3775 20.5883H9.74425H2.11101L2.04485 20.4713C1.98379 20.3746 2.03467 19.4993 2.44178 13.81C2.70131 10.2122 2.93031 7.24031 2.95066 7.20469C3.02191 7.08765 3.21528 7.05711 3.91245 7.05711L4.61471 7.05202L4.59945 9.23513Z" fill="white" style="fill:white;fill-opacity:1;"/>
                                </svg>
                              </span>
                            {%- else -%}
                              {{ 'products.product.sold_out' | t }}
                            {%- endif -%}
                          </span>
                          <span class="sold-out-message hidden">
                            {{ 'products.product.sold_out' | t }}
                          </span>
                          {%- if horizontal_quick_add -%}
                            <span class="icon-wrap">
                              {{- 'icon-plus.svg' | inline_asset_content -}}
                            </span>
                          {%- endif -%}
                          {%- render 'loading-spinner' -%}
                        </button>
                      </div>
                    </div>
                {%- endform -%}
              </product-form>
            {%- endif -%}
          </div>
        {% elsif quick_add == 'bulk' %}
          {% if card_product.variants.size == 1 %}
            <quick-add-bulk
              data-min="{{ card_product.selected_or_first_available_variant.quantity_rule.min }}"
              id="quick-add-bulk-{{ card_product.selected_or_first_available_variant.id }}-{{ section.id }}"
              class="quick-add-bulk"
              data-index="{{ card_product.selected_or_first_available_variant.id }}"
            >
              {% if card_product.selected_or_first_available_variant.available == false %}
                <button
                  id="{{ product_form_id }}-submit"
                  type="submit"
                  name="add"
                  class="quick-add__submit button button--full-width button--secondary"
                  aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                  data-sold-out-message="true"
                  disabled
                >
                  <span>{{ 'products.product.sold_out' | t }}</span>
                  <span class="sold-out-message hidden">
                    {{ 'products.product.sold_out' | t }}
                  </span>
                </button>
              {% else %}
                {% render 'quantity-input', variant: card_product.selected_or_first_available_variant, min: 0 %}
              {% endif %}
            </quick-add-bulk>
          {% else %}
            <div class="quick-add no-js-hidden">
              {%- liquid
                assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id
                assign qty_rules = false
                if card_product.selected_or_first_available_variant.quantity_rule.min > 1 or card_product.selected_or_first_available_variant.quantity_rule.max != null or card_product.selected_or_first_available_variant.quantity_rule.increment > 1
                  assign qty_rules = true
                endif
              -%}
              <modal-opener
                id="QuickBulk-{{ card_product.id }}-{{ section_id }}"
                data-modal="#QuickAddBulk-{{ card_product.id }}-{{ section.id }}"
              >
                <button
                  id="{{ product_form_id }}-submit"
                  type="submit"
                  name="add"
                  class="quick-add__submit button button--full-width button--secondary"
                  aria-haspopup="dialog"
                  aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                  data-product-url="{{ card_product.url }}"
                >
                  {{ 'products.product.choose_options' | t }}
                  {%- render 'loading-spinner' -%}
                </button>
              </modal-opener>
              <modal-dialog
                id="QuickAddBulk-{{ card_product.id }}-{{ section_id }}"
                class="quick-add-modal color-{{ section.settings.color_scheme }}"
              >
                <div
                  role="dialog"
                  aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}"
                  aria-modal="true"
                  class="quick-add-modal__content quick-add-modal__content--bulk global-settings-popup"
                  tabindex="-1"
                >
                  <button
                    id="ModalClose-{{ card_product.id }}"
                    type="button"
                    class="quick-add-modal__toggle"
                    aria-label="{{ 'accessibility.close' | t }}"
                  >
                    {{- 'icon-close.svg' | inline_asset_content -}}
                  </button>
                  <div
                    id="QuickAddInfo-{{ card_product.id }}"
                    class="quick-add-modal__content-info quick-add-modal__content-info--bulk"
                  >
                    <div class="quick-add__content-info__media">
                      <div class="quick-add__info">
                        {%- if card_product.featured_media -%}
                          <div
                            class="quick-add__product-media"
                          >
                            <div class="quick-add__product-container global-media-settings">
                              {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                              <img
                                srcset="
                                  {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                                  {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                                  {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                                  {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                                  {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                                  {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                                  {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
                                "
                                src="{{ card_product.featured_media | image_url: width: 533 }}"
                                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                alt="{{ card_product.featured_media.alt | escape }}"
                                class="motion-reduce"
                                {% unless lazy_load == false %}
                                  loading="lazy"
                                {% endunless %}
                                width="{{ card_product.featured_media.width }}"
                                height="{{ card_product.featured_media.height }}"
                              >
                              {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
                            </div>
                          </div>
                        {%- endif -%}
                        <a
                          {% if card_product == blank %}
                            role="link" aria-disabled="true"
                          {% else %}
                            href="{{ card_product.url }}"
                          {% endif %}
                          class="link product__view-details animate-arrow small-hide medium-hide"
                        >
                          {{ 'products.product.view_full_details' | t -}}
                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                        </a>
                      </div>
                      <div class="quick-add-modal__content-info--bulk-details large-up-hide">
                        <a href="{{ card_product.url }}" class="full-unstyled-link">
                          <h3>{{ card_product.title | escape }}</h3>
                        </a>
                        {% render 'price', product: card_product, price_class: '', show_compare_at_price: true %}
                        {%- if card_product.quantity_price_breaks_configured? -%}
                          <div class="card__information-volume-pricing-note">
                            <span class="caption">{{ 'products.product.volume_pricing.note' | t }}</span>
                          </div>
                        {%- endif -%}
                      </div>
                    </div>
                    <div>
                      <div class="quick-add-modal__content-info--bulk-details small-hide medium-hide">
                        <a href="{{ card_product.url }}" class="full-unstyled-link">
                          <h3 class="h2">
                            {{ card_product.title | escape }}
                          </h3>
                        </a>
                        {% render 'price', product: card_product, price_class: '', show_compare_at_price: true %}
                        {%- if card_product.quantity_price_breaks_configured? -%}
                          <div class="card__information-volume-pricing-note">
                            <span class="caption">{{ 'products.product.volume_pricing.note' | t }}</span>
                          </div>
                        {%- endif -%}
                      </div>
                      <bulk-modal
                        id="QuickBulkModal-{{ card_product.id }}-{{ section_id }}"
                        data-url="{{ card_product.url }}"
                        data-section-id="{{ section_id }}"
                        data-product-id="{{ card_product.id }}"
                      >
                      </bulk-modal>
                    </div>
                  </div>
                </div>
              </modal-dialog>
            </div>
          {% endif %}
        {% endif %}
        <div class="card__badge {{ settings.badge_position }}">
          {%- if card_product.available == false -%}
            <span
              id="Badge-{{ section_id }}-{{ card_product.id }}"
              class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}"
            >
              {{- 'products.product.sold_out' | t -}}
            </span>
          {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
            <span
              id="Badge-{{ section_id }}-{{ card_product.id }}"
              class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}"
            >
              {{- 'products.product.on_sale' | t -}}
            </span>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- else -%}
  {%- liquid
    assign ratio = 1
    assign placeholder = true
    if media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    endif
  -%}
  <div class="card-wrapper product-card-wrapper underline-links-hover">
    <div
      class="
        card card--{{ settings.card_style }}
        {% if extend_height %} card--extend-height{% endif %}
        {% if image_shape and image_shape != 'default' %} card--shape{% endif %}
        {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
      "
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <div
        class="card__inner{% if settings.card_style == 'standard' %} color-{{ settings.card_color_scheme }} gradient{% endif %} ratio"
      >
        <div
          class="card__media {% if image_shape and image_shape != 'default' %} shape--{{ image_shape }} color-{{ settings.card_color_scheme }} gradient{% endif %}"
        >
          <div
            class="media media--transparent"
          >
            {%- if placeholder_image -%}
              {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
            {%- else -%}
              {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading card__heading--placeholder{% if settings.card_style == 'standard' %} h5{% endif %}">
            <a role="link" aria-disabled="true" class="full-unstyled-link">
              {{ 'onboarding.product_title' | t }}
            </a>
          </h3>
          <div class="card-information">
            {%- if show_vendor -%}
              <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
              <div class="caption-with-letter-spacing light">{{ 'products.product.vendor' | t }}</div>
            {%- endif -%}
            {% render 'price', placeholder: placeholder, show_compare_at_price: true %}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
