{% comment %}
  Renders a line item's properties.

  Accepts:
  - line_item: {Object} line item object.

  Usage:
  {% render 'line-item-properties', line_item: line_item %}
{% endcomment %}

{% if line_item.properties %}
    <div class="line-item-properties">
        {% for property in line_item.properties %}
            {%- assign property_first_char = property.first | slice: 0 -%}
            {% if property.first contains 'Recipient' and property.last != '' %}
                <div class="line-item-property">
                   {{ property.first | remove: 'properties[' | remove: ']' }}: {{ property.last }}
                </div>

            {% elsif property.last != blank and property_first_char != '_' %}
                <div class="line-item-property">
                    {{ property.first }}:
                    {% if property.last contains '/uploads/' %}
                        <a data-cc-animate-click href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                    {% else %}
                        {{ property.last }}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
