{%- liquid
  assign heading_tag = "h2"
  if section.settings.heading_h1
    assign heading_tag = "h1"
  endif
-%}

<div id="section-id-{{ section.id }}" class="{% if section.settings.full_width == false %}section-spacing wide-container{% else %}header-overlap-section needs-alt-logo{% endif %}" data-section-type="background-video">
  {% style %}
    {%- if section.settings.height == 'fixed' -%}
    #section-id-{{ section.id }} .video-container {
      height: {{ section.settings.height_mobile }}px;
    }
    {%- endif -%}
    #section-id-{{ section.id }} .line-1 {
      max-width: {{ section.settings.title_width }}em;
    }

    @media (min-width: 768px) {
      {%- if section.settings.height == 'fixed' -%}
      #section-id-{{ section.id }} .video-container {
        height: {{ section.settings.height_desktop }}px;
      }
      {%- endif -%}


    #section-id-{{ section.id }} .line-1 {
        {%- assign title_size_medium = section.settings.title_size | times: 0.7 -%}
        font-size: {{ title_size_medium }}px;
      }
    }

    @media (min-width: 992px) {
      #section-id-{{ section.id }} .line-1 {
        font-size: {{ section.settings.title_size }}px;
      }
    }
  {% endstyle %}

  {% if section.settings.video_shopify != blank or section.settings.video_external != blank %}
    <div class="height--{{ section.settings.height }} video-container video-container--background image-overlay  {% if section.settings.overlay_style_tint %}image-overlay--bg-full{% endif %}"
      {% if section.settings.video_shopify != blank %}
        data-video-sources="{%- for source in section.settings.video_shopify.sources -%}
          {{ source.format }} {{ source.mime_type }} {{ source.url }}
          {%- unless forloop.last -%}|{%- endunless -%}
        {%- endfor -%}"
        data-video-type="mp4"
      {% elsif section.settings.video_external != blank %}
        data-video-url="{{ section.settings.video_external | escape }}"
      {% endif %}
      data-video-autoplay="true"
      data-video-loop="true">

      {% if section.settings.overlay_style_tint %}
        <div class="image-overlay__veil" data-cc-animate data-cc-animate-duration="1.5s"></div>
      {% endif %}

      <div class="video-container__video"></div>

      {%- assign show_overlay_text = false -%}
      {%- if section.settings.title != blank or section.settings.subheading != blank or section.settings.text != blank or section.settings.button_label != blank -%}
        {%- assign show_overlay_text = true -%}
      {%- endif -%}

      {%- liquid
        if section.settings.image
          assign cover_image = section.settings.image
        elsif section.settings.video_shopify
          assign cover_image = section.settings.video_shopify.preview_image
        endif
      -%}
      {% if cover_image %}
        <div class="video-container__fallback rimage-outer-wrapper lazyload fade-in"
            data-bgset="{% render 'bgset', image: cover_image %}"
            data-sizes="auto"
            data-parent-fit="cover"
            {% if section.settings.image %} style="background-position: {{ section.settings.image.presentation.focal_point }}"{% endif %}>
          <noscript>
            <div class="rimage-wrapper" style="padding-top:{{ 1 | divided_by: cover_image.aspect_ratio | times: 100 }}%">
              <img src="{{ cover_image | img_url: '1024x1024' }}" alt="{{ cover_image.alt | escape }}" class="rimage__image">
            </div>
          </noscript>
        </div>
      {% endif %}

      {%- if show_overlay_text -%}
        <div class="overlay-type overlay {{ section.settings.overlay_position }} small-padding-xs"
             data-cc-animate-delay=".5s"
             data-cc-animate="cc-fade-in-up">
          <div class="inner">
            <div>
              <div class="overlay__content">
                {%- if section.settings.subheading != blank -%}
                  <div class="feature-subheader">
                      {{ section.settings.subheading }}
                  </div>
                {%- endif -%}
                {%- if section.settings.title != blank -%}
                  <{{ heading_tag }} class="line-1  {% if section.settings.title_size >= 86 %}line-1--large{% endif %}">
                      {{ section.settings.title }}
                  </{{ heading_tag }}>
                {%- endif -%}
                {%- if section.settings.text != blank -%}
                  <div class="rte line-2 {% if section.settings.enlarge_text %}large-text{% endif %}">
                    {{ section.settings.text }}
                  </div>
                {%- endif -%}
                {%- if section.settings.button_label != blank -%}
                  <div class="line-3">
                    <a data-cc-animate-click class="button hover-grow" href="{{ section.settings.button_link }}">
                      {{ section.settings.button_label | escape }}
                    </a>
                  </div>
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
      {%- endif -%}
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Background video",
    "class": "section-background-video",
    "settings": [
      {
        "type": "paragraph",
        "content": "Background videos are designed to autoplay and be silent. If you want a video with sound use the Video section. Please read documentation before using. [Read more](https://cleancanvas.co.uk/support/general/background-video)"
      },
      {
        "id": "video_shopify",
        "type": "video",
        "label": "Video upload",
        "info": "Hosted by Shopify. Replaces External video if both are set."
      },
      {
        "id": "video_external",
        "type": "text",
        "label": "External video",
        "info": "Supports YouTube and Vimeo.",
        "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Custom cover image",
        "info": "Required for External videos"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Subheading"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Background video"
      },
      {
        "type": "range",
        "id": "title_size",
        "min": 20,
        "max": 150,
        "step": 2,
        "unit": "px",
        "label": "Heading text size",
        "default": 60
      },
      {
        "type": "range",
        "id": "title_width",
        "min": 4,
        "max": 40,
        "step": 2,
        "unit": "em",
        "label": "Maximum heading width",
        "default": 12
      },
      {
        "type": "checkbox",
        "id": "heading_h1",
        "label": "Set as primary page heading",
        "info": "Uses <h1> tag. One per page recommended. [Learn more](https://cleancanvas.co.uk/support/showcase/seo#inner-anchor-0)",
        "default": false
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Attract a customer's attention with auto-playing videos</p>"
      },
      {
        "type": "checkbox",
        "id": "enlarge_text",
        "label": "Enlarge text",
        "default": false
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "overlay_position",
        "label": "Text alignment",
        "options": [
          {
            "value": "position--left position--top",
            "label": "Top left"
          },
          {
            "value": "position--hcenter position--top",
            "label": "Top center"
          },
          {
            "value": "position--right position--top",
            "label": "Top right"
          },
          {
            "value": "position--left position--vcenter",
            "label": "Middle left"
          },
          {
            "value": "position--hcenter position--vcenter",
            "label": "Middle center"
          },
          {
            "value": "position--right position--vcenter",
            "label": "Middle right"
          },
          {
            "value": "position--left position--bottom",
            "label": "Bottom left"
          },
          {
            "value": "position--hcenter position--bottom",
            "label": "Bottom center"
          },
          {
            "value": "position--right position--bottom",
            "label": "Bottom right"
          }
        ],
        "default": "position--hcenter position--vcenter"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "radio",
        "id": "height",
        "label": "Video height",
        "default": "fixed",
        "options": [
          {
            "value": "full",
            "label": "Full screen"
          },
          {
            "value": "fixed",
            "label": "Fixed height"
          }
        ]
      },
      {
        "type": "range",
        "id": "height_desktop",
        "min": 200,
        "max": 1000,
        "step": 20,
        "unit": "px",
        "label": "Desktop fixed height",
        "default": 600
      },
      {
        "type": "range",
        "id": "height_mobile",
        "min": 100,
        "max": 1000,
        "step": 20,
        "unit": "px",
        "label": "Mobile fixed height",
        "default": 500
      },
      {
        "id": "full_width",
        "type": "checkbox",
        "label": "Full page width",
        "default": true
      },
      {
        "id": "overlay_style_tint",
        "type": "checkbox",
        "label": "Show overlay tint",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Background video",
        "settings": {
          "video_external": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
        }
      }
    ]
  }
{% endschema %}
