<style>

.alt-result-section {
    width: 100%;
    background: #05060B;
    padding: 103px 0 67px 0;
}
.alt-result-wrap {
    
}
.alt-result-head {
}
.custom-best-seller-top {
}
.alt-result-top{
    text-align: center;
}
.alt-result-top div{
    width: 100%;
    left: 0;
}
.alt-result-top h2{
    color: #FFF;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}
.alt-result-body {
}
.alt-result-body-wrap {
    display: flex;
    gap: 59px;
    padding-top: 72px;
}
.alt-result-body-left {
      max-width: 490px;
    width: 100%;
    height: 490px;
}
.alt-result-body-right {
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.alt-result-body-right-card {
    color: #fff;
    display: flex;
    gap: 29px;
    align-items: flex-start;
}
.alt-result-body-right-card-text-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 31px;
    border-left: 1px solid white;
}
.alt-result-body-right-card-icon {
    display: flex;
    max-width: 34px;
    width: 100%;
    height: 34px;
}
.alt-result-body-right-card-separator {
}
.alt-result-body-right-card-heading {
    color: #FFF;
    font-family: "Proxima Nova";
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    max-width: 543px;
    width: 100%;
}
.alt-result-body-right-card-text {
    color: #FFF;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

</style>

<div class="alt-result-section">
    <div class="container">
        <div class="alt-result-wrap">
            <div class="alt-result-head">
                <div class='custom-best-seller-top alt-result-top'>
                    <div>{{ section.settings.title_absolute }}</div>
                    <h2>{{ section.settings.title }}</h2>
                </div>
            </div>
            <div class="alt-result-body">
                <div class="alt-result-body-wrap">
                    <div class="alt-result-body-left">
                        <img src="{{ section.settings.section_image | img_url: 'master' }}" alt="">
                    </div>
                    <div class="alt-result-body-right">
                        {% for block in section.blocks %}
                            <div class="alt-result-body-right-card">
                                <div class="alt-result-body-right-card-icon">
                                    <img src="{{ block.settings.card_icon | img_url: 'master' }}" alt="">
                                </div>
                                
                                <div class="alt-result-body-right-card-text-container">
                                    <h4 class="alt-result-body-right-card-heading">
                                        {{ block.settings.card_heading }}
                                    </h4>
                                    <p class="alt-result-body-right-card-text">
                                        {{ block.settings.card_description }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Alt result",
    "settings": [
        {
            "type": "text",
            "id": "title_absolute",
            "label": "Title absolute",
            "default": "desired results"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "why is it so effective?"
        },
        {
            "type": "image_picker",
            "id": "section_image",
            "label": "Image of section"
        }
    ],
    "blocks":
    [
        {
            "type": "card",
            "name": "Item",
            "settings":
            [
                {
                    "type": "image_picker",
                    "id": "card_icon",
                    "label": "Icon"
                },
                {
                    "type": "text",
                    "id": "card_heading",
                    "label": "Heding text of card",
                    "default": "Tantaly's Exclusive Soft Breast Technology - Tantabosom"
                },
                {
                    "type": "text",
                    "id": "card_description",
                    "label": "Text of card"
                }
            ]
        }
    ],
     "presets": [
    {
      "name": "Alt result"
    }
  ]
  }
{% endschema %}