<section class='custom-discovery'>
    <div class='custom-discovery-line'>
    </div>
    <div class='custom-discovery-line'>
    </div>
    <div class='custom-discovery-line'>
    </div>
    <div class='custom-discovery-line'>
    </div>
    <div class='container'>
        <div class='custom-discovery-title'>
            <div>{{ section.settings.title_absolute }}</div>
            <h2>{{ section.settings.title }}</h2>
        </div>
        <p class='custom-discovery-text'>{{ section.settings.text }}</p>
        <div class='custom-discovery-text-bottom'>
            {{ section.settings.bottom_text }}
        </div>
        <a class='custom-discovery-button' href='{{ section.settings.button_url }}'>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14" fill="none">
                <path d="M17.0625 13.3437C16.9834 13.2595 16.9206 13.1593 16.8778 13.0488C16.835 12.9384 16.8129 12.8199 16.8129 12.7003C16.8129 12.5807 16.835 12.4622 16.8778 12.3518C16.9206 12.2414 16.9834 12.1411 17.0625 12.0569L20.9437 7.88812L1.08185 7.88812C0.858071 7.88812 0.64346 7.79264 0.485226 7.62269C0.326992 7.45274 0.238098 7.22223 0.238098 6.98187C0.238098 6.74152 0.326992 6.51101 0.485226 6.34106C0.64346 6.1711 0.858071 6.07562 1.08185 6.07562L20.9269 6.07562L17.0625 1.93406C16.9053 1.76426 16.8171 1.53457 16.8171 1.29516C16.8171 1.05574 16.9053 0.826045 17.0625 0.656249C17.2206 0.487459 17.4344 0.392718 17.6573 0.392718C17.8802 0.392718 18.0941 0.487459 18.2522 0.656248L23.6184 6.42C23.6906 6.49443 23.7481 6.58377 23.7874 6.68267C23.8266 6.78156 23.8469 6.88796 23.8469 6.99547C23.8469 7.10297 23.8266 7.20937 23.7874 7.30827C23.7481 7.40716 23.6906 7.49651 23.6184 7.57094L18.2606 13.3437C18.1822 13.4287 18.0888 13.4961 17.986 13.5421C17.8832 13.5881 17.7729 13.6118 17.6615 13.6118C17.5502 13.6118 17.4399 13.5881 17.3371 13.5421C17.2342 13.4961 17.1409 13.4287 17.0625 13.3437Z" fill="#60AC22" style="fill:#60AC22;fill:color(display-p3 0.3768 0.6749 0.1322);fill-opacity:1;"/>
            </svg>
            {{ section.settings.button_text }}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14" fill="none">
                <path d="M6.93752 13.3437C7.01661 13.2595 7.07938 13.1593 7.12221 13.0488C7.16505 12.9384 7.18711 12.8199 7.18711 12.7003C7.18711 12.5807 7.16505 12.4622 7.12221 12.3518C7.07938 12.2414 7.01661 12.1411 6.93752 12.0569L3.05627 7.88812L22.9182 7.88812C23.1419 7.88812 23.3565 7.79264 23.5148 7.62269C23.673 7.45274 23.7619 7.22223 23.7619 6.98187C23.7619 6.74152 23.673 6.51101 23.5148 6.34106C23.3565 6.1711 23.1419 6.07562 22.9182 6.07562L3.07315 6.07562L6.93753 1.93406C7.09467 1.76426 7.18288 1.53457 7.18288 1.29516C7.18288 1.05574 7.09467 0.826045 6.93753 0.656249C6.77944 0.487459 6.56559 0.392718 6.34268 0.392718C6.11978 0.392718 5.90592 0.487459 5.74784 0.656248L0.381587 6.42C0.309359 6.49443 0.251891 6.58377 0.21263 6.68267C0.173371 6.78156 0.153134 6.88796 0.153134 6.99547C0.153134 7.10297 0.173371 7.20937 0.21263 7.30827C0.251891 7.40716 0.309359 7.49651 0.381587 7.57094L5.7394 13.3437C5.81784 13.4287 5.91116 13.4961 6.01398 13.5421C6.11679 13.5881 6.22708 13.6118 6.33846 13.6118C6.44985 13.6118 6.56013 13.5881 6.66295 13.5421C6.76577 13.4961 6.85909 13.4287 6.93752 13.3437Z" fill="#60AC22" style="fill:#60AC22;fill:color(display-p3 0.3768 0.6749 0.1322);fill-opacity:1;"/>
            </svg>
        </a>
    </div>
</section>

{% schema %}
  {
    "name": "Custom Discovery",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "title_absolute",
        "label": "Title Absolute"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "richtext",
        "id": "bottom_text",
        "label": "Bottom Text"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button Url"
      },
    ],
     "presets": [
    {
      "name": "Custom Discovery"
    }
  ]
  }
{% endschema %}