<style>
  .custom-adventages {
    background: {{ section.settings.bg_color }};
  }

  .custom-adventages-list-item-texts h3 {
  color: {{ section.settings.item_title_color }};
}
  .custom-adventages-list-item-texts p {
  color: {{ section.settings.item_text_color }};
}
</style>

<section class='custom-adventages'>
    <div class='container'>
        <div class='custom-adventages-list'>
            {% for block in section.blocks %}
                <div class='custom-adventages-list-item'>
                    <img src='{{ block.settings.item_image | img_url: 'master' }}' alt='{{ block.settings.item_image_alt }}'>
                    <div class='custom-adventages-list-item-texts'>
                        <h3>{{ block.settings.item_title }}</h3>
                        <p>{{ block.settings.item_text }}</p>
                    </div>        
                </div>        
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Custom Adventages",
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "BG color"
      },
      {
        "type": "color",
        "id": "item_title_color",
        "label": "Item Title Color"
      },
      {
        "type": "color",
        "id": "item_text_color",
        "label": "Item Text Color"
      },
    ],
    "blocks": [
    {
      "type": "list",
      "name": "List",
      "settings": [
        {
          "type": "image_picker",
          "id": "item_image",
          "label": "Item image"
        },
        {
          "type": "text",
          "id": "item_image_alt",
          "label": "Item image alt"
        },
        {
          "type": "text",
          "id": "item_title",
          "label": "Item title"
        },
        {
          "type": "text",
          "id": "item_text",
          "label": "Item text"
        },
      ]
    },
  ],
     "presets": [
    {
      "name": "Custom Adventages"
    }
  ]
  }
{% endschema %}