<style>
    .custom-faq-page {
  padding: 60px 0;
}

@media screen and (max-width: 768px) {
  .custom-faq-page {
    padding: 27px 0 30px;
  }
}

.custom-faq-page-title {
  display: flex;
  margin-bottom: 32px;
  width: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

@media screen and (max-width: 768px) {
  .custom-faq-page-title {
    margin-bottom: 23px;
  }
}

.custom-faq-page-title div {
  position: absolute;
  width: 100%;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-text-stroke-color: #c6c6c6;
  -webkit-text-stroke-width: 1px;
  font-family: Proxima Nova;
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: transparent;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .custom-faq-page-title div {
    font-size: 35px;
    top: -14px;
    left: 50%;
  }
}

.custom-faq-page-title h2 {
  color: #05060B;
  font-family: "Proxima Nova";
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .custom-faq-page-title h2 {
    font-size: 25px;
    text-align: center;
  }
}

.custom-faq-page-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 38px;
}

.custom-faq-page-list-item {
  max-width: 980px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 0px 18.6px 0px rgba(0, 0, 0, 0.07);
  padding: 16px 22px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.custom-faq-page-list-item.active {
  border: 1px solid #40ae00;
}

.custom-faq-page-list-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.custom-faq-page-list-item-top h3 {
  width: 100%;
  color: #05060B;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  transition: color 0.3s ease;
}

.custom-faq-page-list-item.active .custom-faq-page-list-item-top h3 {
  color: #40ae00;
}

.custom-faq-page-list-item-top svg {
  width: 100%;
  max-width: 26px;
  height: 26px;
  fill: #05060B;
  transition: transform 0.3s ease, fill 0.3s ease;
}

.custom-faq-page-list-item.active .custom-faq-page-list-item-top svg {
  fill: #40ae00;
  transform: rotate(180deg);
}

.custom-faq-page-list-item p {
  color: #05060B;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease, margin-top 0.3s ease;
  opacity: 0;
  margin-top: 0;
}

.custom-faq-page-list-item.active p {
  max-height: 200px;
  opacity: 1;
  margin-top: 12px;
}

.custom-faq-page-search {
    display: flex;
    align-items: center;
    max-width: 660px;
    height: 58px;
    padding: 20px 28px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 18.6px 0px rgba(0, 0, 0, 0.07);
    margin: 0 auto;
    margin-bottom: 37px;
    position: relative;
}

.custom-faq-page-bottom {
    margin: 0 auto;
    color: #05060B;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.custom-faq-page-bottom a {
    color: #05060B;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    transition: all 0.3s;
}

.custom-faq-page-bottom a:hover {
    color: #40ae00;
}
</style>

<section class='custom-faq-page'>
    <div class='container'>
        <div class='custom-faq-page-title'>
            <div>{{ section.settings.title_absolute }}</div>
            <h2>{{ section.settings.title }}</h2>
        </div>
        <ul class='custom-faq-page-list'>
            {% for block in section.blocks %}
                <li class='custom-faq-page-list-item'>
                    <div class='custom-faq-page-list-item-top'>
                        <h3>{{ block.settings.item_title }}</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                            <path d="M13.0001 15.1482L21.8411 6.65757C22.0595 6.44429 22.42 6.44937 22.6435 6.66773L24.1974 8.18609C24.4208 8.40444 24.4259 8.75991 24.2075 8.97319L13.4063 19.3427C13.2946 19.4544 13.1423 19.5052 12.995 19.4951C12.8427 19.5001 12.6954 19.4494 12.5837 19.3427L1.7876 8.97319C1.56924 8.75991 1.57432 8.40444 1.79776 8.18608L3.35166 6.66773C3.5751 6.44937 3.93565 6.44429 4.15401 6.65757L13.0001 15.1482Z" fill="ÑurrentColor" style="fill-opacity:1;"/>
                        </svg>
                    </div>
                    <p>{{ block.settings.item_text }}</p>
                </li>
            {% endfor %}
        </ul>
        <div class='custom-faq-page-bottom'>{{ section.settings.text_bottom }}</div>
    </div>
</section>

<script>
document.addEventListener('DOMContentLoaded', function () {
  const faqItems = document.querySelectorAll('.custom-faq-page-list-item');

  faqItems.forEach(item => {
    item.addEventListener('click', () => {
      item.classList.toggle('active');
    });
  });
});
</script>
{% schema %}
  {
    "name": "Custom Faq single",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "title_absolute",
        "label": "Title Absolute"
      },
      {
        "type": "richtext",
        "id": "text_bottom",
        "label": "Text bottom"
      },
    ],
    "blocks": [
    {
      "type": "faq",
      "name": "Faq",
      "settings": [
        {
          "type": "text",
          "id": "item_title",
          "label": "Item title"
        },
        {
          "type": "text",
          "id": "item_text",
          "label": "Item text"
        },
      ]
    },
  ],
     "presets": [
    {
      "name": "Custom Faq single"
    }
  ]
  }
{% endschema %}