<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
{%- assign product_form_id = 'product-form-' | append: section.id -%}
<section class='custom-best-seller'>
    <div class='container'>
        <div class='custom-best-seller-wrapper'>
            <div class='custom-best-seller-top'>
                <div>{{ section.settings.title_absolute }}</div>
                <h2>{{ section.settings.title }}</h2>
            </div>
            <div class='best-seller-slider-wrapper'>
                <div class="best-seller-slider swiper">
                    <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        {% assign best_seller_product = block.settings.product %}
                        <div class="swiper-slide">
                            <a class="best-seller-card" href="{{ best_seller_product.url }}">
                                <div class='best-seller-badge'>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="13" viewBox="0 0 11 13" fill="none">
                                        <path d="M4.63642 0.362133C4.62625 0.382925 4.63388 0.46378 4.64912 0.542325C4.69487 0.752549 4.68724 1.27233 4.63388 1.4918C4.53985 1.89376 4.37468 2.23798 4.08498 2.62377C3.85627 2.93102 3.61232 3.19438 3.01006 3.7904C2.0749 4.70984 1.74963 5.10488 1.41419 5.71245C0.80939 6.81208 0.697578 8.14735 1.11687 9.2747C1.65306 10.7139 2.97956 11.7697 4.65929 12.0885C4.90578 12.1347 5.00997 12.1416 5.536 12.1416C6.05948 12.1416 6.16875 12.1347 6.42033 12.0885C7.43681 11.9013 8.38721 11.4024 9.05554 10.7047C9.58411 10.1526 10.0009 9.39714 10.161 8.7064C10.443 7.47278 10.0796 5.95732 9.24867 4.92699C9.14703 4.79763 9.12416 4.78146 9.05554 4.78839L8.97931 4.79532L8.9666 5.07253C8.9539 5.31972 8.94373 5.36592 8.87512 5.49991C8.76077 5.71938 8.57018 5.89726 8.33893 6.00122C8.17883 6.07283 8.11785 6.08669 7.93996 6.09593C7.57657 6.11441 7.31483 6.01277 7.05563 5.75865C6.98448 5.68472 6.89045 5.55998 6.84725 5.47681C6.77356 5.33589 6.76848 5.31048 6.77356 5.08409C6.7761 4.91313 6.80151 4.73063 6.85742 4.47189C6.99464 3.85046 6.98956 3.34916 6.84217 2.79241C6.6033 1.89145 5.968 1.08983 4.99981 0.45916C4.78635 0.320551 4.66691 0.288208 4.63642 0.362133ZM5.01506 6.7936C5.0176 7.34803 5.02268 7.42196 5.0735 7.58598C5.15482 7.85627 5.29205 8.07342 5.49788 8.26055C5.79266 8.53083 6.11031 8.64865 6.55247 8.64865C6.93111 8.64865 7.19539 8.57011 7.49271 8.36681C7.56895 8.31368 7.65027 8.27441 7.6706 8.27672C7.7265 8.28827 7.81544 8.51235 7.86373 8.75954C7.98825 9.40869 7.757 10.0717 7.23605 10.5707C6.34918 11.4185 4.9007 11.4555 3.97825 10.6539C3.7343 10.4413 3.58945 10.2634 3.45223 10.0024C3.27942 9.67205 3.23877 9.49879 3.23877 9.05755C3.24131 8.75261 3.25147 8.62786 3.29467 8.44074C3.45985 7.74538 3.81816 7.19788 4.5983 6.46094C5.03539 6.04742 5.01251 6.02894 5.01506 6.7936Z" fill="#05060B" style="fill:#05060B;fill:color(display-p3 0.0196 0.0235 0.0431);fill-opacity:1;"/>
                                    </svg>
                                    <span>Bestseller</span>
                                </div>
                                 

                                <button class="best-seller-heart" data-with-epi="true" data-swaction="addToWishlist" data-product-id="{{ best_seller_product.id }}" data-variant-id="{{ best_seller_product.variants[0].id }}" data-product-url="{{ shop.url }}{{ best_seller_product.url }}">
                                     <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g id="Black">
                                            <path id="Vector" d="M6.11717 0.020401C3.07029 0.245401 0.539043 2.55634 0.0656057 5.55634C-0.0375193 6.20321 -0.00470676 7.50165 0.131231 8.0829C0.440606 9.40477 1.02186 10.4735 2.04842 11.6079C3.13123 12.8032 6.08436 15.4516 9.53904 18.3251C11.1375 19.6516 11.3484 19.8204 11.5312 19.9141C11.7656 20.036 12.2484 20.0266 12.4922 19.9001C12.7734 19.7595 16.5984 16.5579 18.4687 14.9032C20.3109 13.272 21.8625 11.772 22.364 11.1391C23.1328 10.1688 23.6015 9.21727 23.8687 8.0829C24.0047 7.48759 24.0375 6.18915 23.9297 5.53759C23.4562 2.6829 21.2062 0.489151 18.3047 0.0625877C17.7937 -0.0124111 16.7015 -0.0030365 16.2187 0.0813389C15.2578 0.250088 14.3015 0.639149 13.5 1.18759C13.2703 1.34696 12.839 1.7079 12.539 1.99384L12 2.50946L11.4609 1.99384C11.1609 1.7079 10.7344 1.35165 10.5047 1.19227C9.19686 0.296963 7.72498 -0.0967865 6.11717 0.020401ZM7.89842 2.33134C8.37654 2.47665 8.94373 2.74852 9.29998 3.00165C9.43123 3.0954 9.94217 3.56884 10.4297 4.05165C10.9219 4.53446 11.3906 4.96102 11.4797 5.0079C11.5687 5.05009 11.7609 5.10165 11.9156 5.11102C12.4031 5.1579 12.5156 5.0829 13.5469 4.07509C14.0484 3.57821 14.5687 3.0954 14.7 3.00165C15.0469 2.75321 15.614 2.47665 16.1015 2.33134C16.4953 2.20946 16.5797 2.20009 17.3437 2.20009C18.1031 2.20009 18.1969 2.20946 18.5765 2.32665C20.0484 2.78134 21.1453 3.82196 21.6047 5.20009C22.1015 6.6954 21.7922 8.30321 20.7515 9.67196C20.3297 10.2204 18.8297 11.6735 17.1094 13.1876C15.2344 14.8423 12.0844 17.5001 12 17.5001C11.9437 17.5001 10.2609 16.0985 8.53123 14.6126C5.39998 11.922 3.60467 10.2157 3.03748 9.37665C1.12029 6.55477 2.48436 2.9829 5.77029 2.24228C5.98123 2.1954 6.27654 2.17665 6.77342 2.19071C7.36873 2.20477 7.54217 2.22352 7.89842 2.33134Z" fill="#C7C7C7" style="fill:#C7C7C7;fill:color(display-p3 0.7822 0.7822 0.7822);fill-opacity:1;"/>
                                        </g>
                                    </svg>
                                </button>
                                <img src="{{ best_seller_product.featured_image | img_url: '300x300' }}" alt="{{ best_seller_product.title }}">
                                <div class="best-seller-review">
                                    {% comment %}
                                      
                                    <div class="best-seller-review-stars">
                                        {% for i in (1..block.settings.stars_count) %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                            <path d="M9 0L11.5921 5.43224L17.5595 6.21885L13.1942 10.3628L14.2901 16.2812L9 13.41L3.70993 16.2812L4.80584 10.3628L0.440492 6.21885L6.40787 5.43224L9 0Z" fill="#FA9902" />
                                            </svg>
                                        {% endfor %}
                                        </div>
                                    <p>({{ block.settings.review_count }})</p>
                                    {% endcomment %}
                                  <div class='jdgm-widget jdgm-preview-badge'>
                                    {{ best_seller_product.metafields.judgeme.badge }}
                                  </div>
                                </div>
                                <div class='best-seller-title'>
                                    <h3>{{ best_seller_product.title }}</h3>
                                </div>
                                <div class='best-seller-card-price'>
                                    <p class='price'>{{ best_seller_product.price | money }} USD</p>
                                    {% if best_seller_product.compare_at_price != blank %}
                                    <p class='compare-at-price'>{{ best_seller_product.compare_at_price | money }} USD</p>
                                    {% endif %}
                                    <div class='best-seller-cart'>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="23" viewBox="0 0 20 23" fill="none">
                                            <path d="M8.92459 0.0243473C8.15108 0.166836 7.34196 0.487432 6.73639 0.894539C6.25804 1.21514 5.54051 1.97337 5.24536 2.4619C4.80772 3.19978 4.55328 4.14121 4.55328 5.04194V5.41342L3.57622 5.43378C2.61443 5.44904 2.58899 5.45413 2.31419 5.59153C1.82567 5.84597 1.47963 6.25308 1.30152 6.79758C1.24554 6.97569 0.329549 19.5349 0.314283 20.3135C0.304105 21.0972 0.690856 21.7333 1.38803 22.0743L1.72898 22.2422H9.74389H17.7588L18.0489 22.1048C18.6341 21.83 19.0615 21.2804 19.1582 20.6748C19.2193 20.283 18.2779 7.13345 18.1608 6.74669C18.0082 6.23781 17.6723 5.84597 17.1736 5.59153C16.8988 5.45413 16.8733 5.44904 15.9217 5.43378L14.9498 5.41851L14.9141 4.91471C14.8633 4.09541 14.7055 3.47966 14.3747 2.82829C13.7081 1.5052 12.5377 0.548498 11.1128 0.151569C10.726 0.0447025 10.497 0.0192585 9.89655 0.00399208C9.48945 -0.00618553 9.05181 0.00399208 8.92459 0.0243473ZM10.4818 1.7342C10.6802 1.77491 11.0517 1.9123 11.3112 2.03953C12.4155 2.58912 13.1483 3.70357 13.2399 4.97069L13.2704 5.4236H9.74389H6.21733L6.24786 4.97069C6.31402 4.06488 6.65497 3.31682 7.31143 2.66545C7.9628 2.01917 8.79737 1.66804 9.71844 1.66295C9.94235 1.66295 10.2884 1.69349 10.4818 1.7342ZM4.59908 9.23513C4.57872 11.3877 4.57872 11.4233 4.68559 11.5658C4.87896 11.8253 5.09778 11.9373 5.41329 11.9373C5.75424 11.9373 5.94253 11.8304 6.11555 11.5455L6.23259 11.3521V9.19951V7.05202H9.74389H13.2552V9.18933C13.2552 11.2198 13.2603 11.3419 13.357 11.5251C13.6318 12.0696 14.4154 12.09 14.8022 11.5658C14.904 11.4233 14.9091 11.3623 14.9243 9.23513L14.9396 7.04694L15.6724 7.0622C16.2678 7.07238 16.4204 7.09274 16.4917 7.15889C16.6138 7.28611 17.5502 20.3033 17.4433 20.4713L17.3771 20.5883H9.74389H2.11064L2.04449 20.4713C1.98342 20.3746 2.03431 19.4993 2.44141 13.81C2.70094 10.2122 2.92994 7.24031 2.9503 7.20469C3.02154 7.08765 3.21492 7.05711 3.91209 7.05711L4.61435 7.05202L4.59908 9.23513Z" fill="white" style="fill:white;fill-opacity:1;"/>
                                        </svg>
                                        <product-form
                                        class="product-form"
                                        data-hide-errors="{{ gift_card_recipient_feature_active }}"
                                        data-section-id="{{ section.id }}"
                                        >
                                        <div class="product-form__error-message-wrapper" role="alert" hidden>
                                            <span class="svg-wrapper">
                                            {{- 'icon-error.svg' | inline_asset_content -}}
                                            </span>
                                            <span class="product-form__error-message"></span>
                                        </div>
                                        {%- form 'product',
                                            best_seller_product,
                                            id: product_form_id,
                                            class: 'form',
                                            novalidate: 'novalidate',
                                            data-type: 'add-to-cart-form'
                                        -%}

                                            <input
                                            type="hidden"
                                            name="id"
                                            value="{{ best_seller_product.selected_or_first_available_variant.id }}"
                                            {% if best_seller_product.selected_or_first_available_variant.available == false
                                                or quantity_rule_soldout
                                                or best_seller_product.selected_or_first_available_variant == null
                                            %}
                                                disabled
                                            {% endif %}
                                            class="product-variant-id"
                                            >
                                            <div class="product-form__buttons">
                                            {%- liquid
                                                assign check_against_inventory = true
                                                if best_seller_product.selected_or_first_available_variant.inventory_management != 'shopify' or best_seller_product.selected_or_first_available_variant.inventory_policy == 'continue'
                                                assign check_against_inventory = false
                                                endif
                                                if best_seller_product.selected_or_first_available_variant.quantity_rule.min > best_seller_product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
                                                assign quantity_rule_soldout = true
                                                endif
                                            -%}
                                            <button
                                                id="ProductSubmitButton-{{ section_id }}"
                                                type="submit"
                                                name="add"
                                                class="product-form__submit button button--full-width {% if show_dynamic_checkout %}button--secondary{% else %}button--primary{% endif %}"
                                                {% if best_seller_product.selected_or_first_available_variant.available == false
                                                or quantity_rule_soldout
                                                or best_seller_product.selected_or_first_available_variant == null
                                                %}
                                                disabled
                                                {% endif %}
                                            >
                                                <span>
                                                {%- if best_seller_product.selected_or_first_available_variant == null -%}
                                                    {{ 'products.product.unavailable' | t }}
                                                {%- elsif best_seller_product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                                                    {{ 'products.product.sold_out' | t }}
                                                {%- else -%}
                                                    {{ 'products.product.add_to_cart' | t }}
                                                {%- endif -%}
                                                </span>
                                                {%- render 'loading-spinner' -%}
                                            </button>
                                            </div>
                                        {%- endform -%}
                                        </product-form>
                                      </div>
                                </div>
                                <div class='best-seller-cart-mobile'>
                                    <span>{{ block.settings.product_cart_button }}</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="23" viewBox="0 0 20 23" fill="none">
                                        <path d="M8.92459 0.0243473C8.15108 0.166836 7.34196 0.487432 6.73639 0.894539C6.25804 1.21514 5.54051 1.97337 5.24536 2.4619C4.80772 3.19978 4.55328 4.14121 4.55328 5.04194V5.41342L3.57622 5.43378C2.61443 5.44904 2.58899 5.45413 2.31419 5.59153C1.82567 5.84597 1.47963 6.25308 1.30152 6.79758C1.24554 6.97569 0.329549 19.5349 0.314283 20.3135C0.304105 21.0972 0.690856 21.7333 1.38803 22.0743L1.72898 22.2422H9.74389H17.7588L18.0489 22.1048C18.6341 21.83 19.0615 21.2804 19.1582 20.6748C19.2193 20.283 18.2779 7.13345 18.1608 6.74669C18.0082 6.23781 17.6723 5.84597 17.1736 5.59153C16.8988 5.45413 16.8733 5.44904 15.9217 5.43378L14.9498 5.41851L14.9141 4.91471C14.8633 4.09541 14.7055 3.47966 14.3747 2.82829C13.7081 1.5052 12.5377 0.548498 11.1128 0.151569C10.726 0.0447025 10.497 0.0192585 9.89655 0.00399208C9.48945 -0.00618553 9.05181 0.00399208 8.92459 0.0243473ZM10.4818 1.7342C10.6802 1.77491 11.0517 1.9123 11.3112 2.03953C12.4155 2.58912 13.1483 3.70357 13.2399 4.97069L13.2704 5.4236H9.74389H6.21733L6.24786 4.97069C6.31402 4.06488 6.65497 3.31682 7.31143 2.66545C7.9628 2.01917 8.79737 1.66804 9.71844 1.66295C9.94235 1.66295 10.2884 1.69349 10.4818 1.7342ZM4.59908 9.23513C4.57872 11.3877 4.57872 11.4233 4.68559 11.5658C4.87896 11.8253 5.09778 11.9373 5.41329 11.9373C5.75424 11.9373 5.94253 11.8304 6.11555 11.5455L6.23259 11.3521V9.19951V7.05202H9.74389H13.2552V9.18933C13.2552 11.2198 13.2603 11.3419 13.357 11.5251C13.6318 12.0696 14.4154 12.09 14.8022 11.5658C14.904 11.4233 14.9091 11.3623 14.9243 9.23513L14.9396 7.04694L15.6724 7.0622C16.2678 7.07238 16.4204 7.09274 16.4917 7.15889C16.6138 7.28611 17.5502 20.3033 17.4433 20.4713L17.3771 20.5883H9.74389H2.11064L2.04449 20.4713C1.98342 20.3746 2.03431 19.4993 2.44141 13.81C2.70094 10.2122 2.92994 7.24031 2.9503 7.20469C3.02154 7.08765 3.21492 7.05711 3.91209 7.05711L4.61435 7.05202L4.59908 9.23513Z" fill="white" style="fill:white;fill-opacity:1;"/>
                                    </svg>
                                    <product-form
                                        class="product-form"
                                        data-hide-errors="{{ gift_card_recipient_feature_active }}"
                                        data-section-id="{{ section.id }}"
                                        >
                                        <div class="product-form__error-message-wrapper" role="alert" hidden>
                                            <span class="svg-wrapper">
                                            {{- 'icon-error.svg' | inline_asset_content -}}
                                            </span>
                                            <span class="product-form__error-message"></span>
                                        </div>
                                        {%- form 'product',
                                            best_seller_product,
                                            id: product_form_id,
                                            class: 'form',
                                            novalidate: 'novalidate',
                                            data-type: 'add-to-cart-form'
                                        -%}

                                            <input
                                            type="hidden"
                                            name="id"
                                            value="{{ best_seller_product.selected_or_first_available_variant.id }}"
                                            {% if best_seller_product.selected_or_first_available_variant.available == false
                                                or quantity_rule_soldout
                                                or best_seller_product.selected_or_first_available_variant == null
                                            %}
                                                disabled
                                            {% endif %}
                                            class="product-variant-id"
                                            >
                                            <div class="product-form__buttons">
                                            {%- liquid
                                                assign check_against_inventory = true
                                                if best_seller_product.selected_or_first_available_variant.inventory_management != 'shopify' or best_seller_product.selected_or_first_available_variant.inventory_policy == 'continue'
                                                assign check_against_inventory = false
                                                endif
                                                if best_seller_product.selected_or_first_available_variant.quantity_rule.min > best_seller_product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
                                                assign quantity_rule_soldout = true
                                                endif
                                            -%}
                                            <button
                                                id="ProductSubmitButton-{{ section_id }}"
                                                type="submit"
                                                name="add"
                                                class="product-form__submit button button--full-width {% if show_dynamic_checkout %}button--secondary{% else %}button--primary{% endif %}"
                                                {% if best_seller_product.selected_or_first_available_variant.available == false
                                                or quantity_rule_soldout
                                                or best_seller_product.selected_or_first_available_variant == null
                                                %}
                                                disabled
                                                {% endif %}
                                            >
                                                <span>
                                                {%- if best_seller_product.selected_or_first_available_variant == null -%}
                                                    {{ 'products.product.unavailable' | t }}
                                                {%- elsif best_seller_product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                                                    {{ 'products.product.sold_out' | t }}
                                                {%- else -%}
                                                    {{ 'products.product.add_to_cart' | t }}
                                                {%- endif -%}
                                                </span>
                                                {%- render 'loading-spinner' -%}
                                            </button>
                                            </div>
                                        {%- endform -%}
                                        </product-form>
                                  </div>
                                {% if block.settings.product_description != blank %}
                                <div class='best-seller-description'>
                                    <p>{{ block.settings.product_description }}</p>
                                </div>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                    </div>
                    <a href='{{ section.settings.button_url }}' class='best-seller-shop'>{{ section.settings.button_text }}</a>
                </div>
                 <div class="swiper-pagination"></div>
                <div class="swiper-button-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.5097 29.012L35 20.9588L33.7382 19L22 29.0487L33.7099 39L34.9717 37.0412L25.5097 29.012Z" fill="#60AC22" style="fill:#60AC22;fill:color(display-p3 0.3768 0.6749 0.1322);fill-opacity:1;"/>
                    </svg>
                </div>
                <div class="swiper-button-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M33.4903 29.012L24 20.9588L25.2618 19L37 29.0487L25.2901 39L24.0283 37.0412L33.4903 29.012Z" fill="#60AC22" style="fill:#60AC22;fill:color(display-p3 0.3768 0.6749 0.1322);fill-opacity:1;"/>
                    </svg>
                </div>
                <a href='{{ section.settings.button_url }}' class='best-seller-shop-mobile'>{{ section.settings.button_text }}</a>
            </div>
        </div>
    </div>
</section>
<script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
  let swiper;

  const initializeSwiper = () => {
    if (swiper) swiper.destroy(true, true);

    swiper = new Swiper('.best-seller-slider', {
      slidesPerView: 1,
      spaceBetween: 10,
      loop: true,
      pagination: {
        el: '.best-seller-slider-wrapper .swiper-pagination',
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      breakpoints: {
        320: {
          slidesPerView: 2,
          spaceBetween: 10,
          grid: {
            rows: 2,
          },
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 10,
          grid: {
            rows: 2,
          },
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 18,
        },
        1300: {
          slidesPerView: 4,
          spaceBetween: 18,
        },
      },
    });
  };

  initializeSwiper();

  // window.addEventListener('resize', () => {
  //   initializeSwiper();
  // });
});
</script>

{% schema %}
  {
    "name": "Custom Best Seller",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "title_absolute",
        "label": "Title absolute"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button url"
      },
    ],
    "blocks": [
    {
      "type": "products",
      "name": "Products list",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "number",
          "id": "stars_count",
          "label": "Count Stars",
          "default": 5,
        },
        {
          "type": "text",
          "id": "review_count",
          "label": "Reviews_count"
        },
        {
          "type": "text",
          "id": "product_description",
          "label": "Product Description"
        },
        {
          "type": "text",
          "id": "product_cart_button",
          "label": "Product Cart Button"
        }
      ]
    }
  ],
     "presets": [
    {
      "name": "Custom Best Seller"
    }
  ]
  }
{% endschema %}