<section class='custom-sign-up' style="background-image: url({{ section.settings.form_bg | img_url: 'master'}});">
    <div class='container'>
        <h2 class='custom-sign-up-title'>{{ section.settings.title }}</h2>
        <h3 class='custom-sign-up-subtitle'>{{ section.settings.subtitle }}</h3>
        {% form 'customer' %}
        <div class="custom-sign-up-email">
            <input type="email" name="contact[email]" placeholder="your@email.com" />
        </div>

        <div class="custom-sign-up-submit">
            <input type="submit" value="{{ section.settings.form_button_text }}" />
        </div>
        {% endform %}
    </div>
</section>
<footer class='footer'>
    <div class='container'>
        <div class='footer-wrapper'>
            <div class='footer-help'>
            <h3>{{ section.settings.footer_help_title }}</h3>
            <ul>
                {% for block in section.blocks %}
                    {% if block.type == 'help_links' %}

                    {% endif %}
                {% endfor %}
            </ul>
            </div>
            <div class='footer-info'>
                <div class='footer-info-social'>
                    <h3>{{ section.settings.footer_social_title }}</h3>
                    <ul>
                        {% for block in section.blocks %}
                            {% if block.type == 'social' %}
                                <li>
                                    <a href='{{ block.settings.social_url }}'>
                                        <img src='{{ block.settings.social_icon | img_url: 'master' }}' alt='Social'>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class='footer-info-partners'>
                    <h3>{{ section.settings.footer_partners_title }}</h3>
                    <ul>
                        {% for block in section.blocks %}
                            {% if block.type == 'help_links' %}

                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class='footer-info-payment'>
                    <h3>{{ section.settings.footer_payment_title }}</h3>
                    <ul>
                        {% for block in section.blocks %}
                            {% if block.type == 'help_links' %}

                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class='footer-policies'>
                <h3>{{ section.settings.footer_policies_title }}</h3>
                <ul>
                    {% for block in section.blocks %}
                        {% if block.type == 'policies_link' %}

                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class='footer-newsletter'>
                <h3>{{ section.settings.footer_newsletter_title }}</h3>
                <p></p>
            </div>
        </div>
        <p class='footer-copyright'>{{ section.settings.footer_copyright }}</p>
    </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "image_picker",
        "id": "form_bg",
        "label": "Form BG"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "text",
        "id": "form_button_text",
        "label": "Form Button Text"
      },
      {
        "type": "text",
        "id": "footer_help_title",
        "label": "Footer Help Title"
      },
      {
        "type": "text",
        "id": "footer_social_title",
        "label": "Footer Social Title"
      },
      {
        "type": "text",
        "id": "footer_partners_title",
        "label": "Footer Partners Title"
      },
      {
        "type": "text",
        "id": "footer_payment_title",
        "label": "Footer Payment Title"
      },
      {
        "type": "text",
        "id": "footer_policies_title",
        "label": "Footer Policies Title"
      },
      {
        "type": "text",
        "id": "footer_newsletter_title",
        "label": "Footer Newsletter Title"
      },
      {
        "type": "text",
        "id": "footer_copyright",
        "label": "Footer Copyright"
      },
    ],
    "blocks": [
    {
      "type": "help_links",
      "name": "Help links",
      "settings": [
        {
          "type": "link_list",
          "id": "help_menu",
          "label": "Help menu"
        },
      ]
    },
    {
      "type": "social",
      "name": "Social",
      "settings": [
        {
          "type": "image_picker",
          "id": "social_icon",
          "label": "Social icon"
        },
        {
          "type": "url",
          "id": "social_url",
          "label": "Social url"
        },
      ]
    },
    {
      "type": "policies_link",
      "name": "Policies links",
      "settings": [
        {
          "type": "link_list",
          "id": "policies_menu",
          "label": "Policies menu"
        },
      ]
    },
  ],
     "presets": [
    {
      "name": "Footer"
    }
  ]
  }
{% endschema %}