<header class='custom-header'>
    <div class='container'>
        <div class='custom-header-wrapper'>
            <div class='custom-header-left'>
                <button type="button" class='burger-button'>
                    <svg class='burger-button-open active' width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="menu 2 1">
                            <path id="Vector" d="M11.3531 7.9999C11.3531 7.64365 11.0625 7.35303 10.7063 7.35303H0.64375C0.290625 7.35303 0 7.64365 0 7.9999C0 8.35615 0.290625 8.64678 0.646875 8.64678H10.7094C11.0656 8.64678 11.3531 8.35615 11.3531 7.9999Z" fill="currentColor" style="fill-opacity:1;"/>
                            <g id="Group">
                                <g id="Group_2">
                                    <path id="Vector_2" d="M15.3531 2.4502H0.646875C0.290625 2.4502 0 2.74082 0 3.09707C0 3.45332 0.290625 3.74395 0.646875 3.74395H15.3531C15.7094 3.74395 16 3.45332 16 3.09707C16 2.74082 15.7094 2.4502 15.3531 2.4502Z" fill="currentColor" style="fill-opacity:1;"/>
                                </g>
                            </g>
                            <g id="Group_3">
                                <g id="Group_4">
                                    <path id="Vector_3" d="M15.3531 12.2563H0.646875C0.290625 12.2563 0 12.547 0 12.9032C0 13.2595 0.290625 13.5501 0.646875 13.5501H15.3531C15.7094 13.5501 16 13.2595 16 12.9032C16 12.547 15.7094 12.2563 15.3531 12.2563Z" fill="currentColor" style="fill-opacity:1;"/>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <svg class='burger-button-close' width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="menu 2 1">
                            <g id="Group">
                                <g id="Group_2">
                                    <path id="Vector" d="M12.742 2.45718L2.34315 12.8561C2.09125 13.108 2.09125 13.519 2.34315 13.7709C2.59506 14.0228 3.00606 14.0228 3.25797 13.7709L13.6569 3.372C13.9088 3.12009 13.9088 2.70908 13.6569 2.45718C13.405 2.20527 12.9939 2.20527 12.742 2.45718Z" fill="currentColor" style="fill-opacity:1;"/>
                                    <path id="Vector_2" d="M3.25796 2.45718L13.6568 12.8561C13.9088 13.108 13.9088 13.519 13.6568 13.7709C13.4049 14.0228 12.9939 14.0228 12.742 13.7709L2.34314 3.372C2.09124 3.12009 2.09123 2.70908 2.34314 2.45718C2.59505 2.20527 3.00605 2.20527 3.25796 2.45718Z" fill="currentColor" style="fill-opacity:1;"/>
                                </g>
                            </g>
                        </g>
                    </svg>
                </button>
                <a href='{{  shop.url }}'>
                    <img src='{{ section.settings.logo | img_url: 'master' }}' alt='Logo'>
                </a>
            </div>
            <nav class='custom-header-menu'>
                <ul class='custom-header-menu-list'>
                    <li class='custom-header-menu-list-item big'>
                        <p>
                            <a href='{{ section.settings.menu_url1 }}'>{{ section.settings.menu_name1 }}</a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="4" height="8" viewBox="0 0 4 8" fill="none">
                                <path d="M4 4L0.25 7.03109L0.25 0.968911L4 4Z" fill="currentColor" style="fill-opacity:1;"/>
                            </svg>
                        </p>
                    </li>
                    <li class='custom-header-menu-list-item'>
                        <p class="menu-toggle">
                            <a href='{{ section.settings.menu_url2 }}'>{{ section.settings.menu_name2 }}</a>
                             <svg xmlns="http://www.w3.org/2000/svg" width="4" height="8" viewBox="0 0 4 8" fill="none">
                                <path d="M4 4L0.25 7.03109L0.25 0.968911L4 4Z" fill="currentColor" style="fill-opacity:1;"/>
                            </svg>
                        </p>
                        <ul class='custom-header-menu-list-item-submenu'>
                            {% for block in section.blocks %}
                                {% if block.type == 'submenu2' %}
                                    <li>
                                        <a href='{{ block.settings.url }}'>{{ block.settings.text }}{% if block.settings.soon == true %} <span>Soon</span>{% endif %}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li class='custom-header-menu-list-item'>
                        <p class="menu-toggle">
                            <a href='{{ section.settings.menu_url3 }}'>{{ section.settings.menu_name3 }}</a>
                             <svg xmlns="http://www.w3.org/2000/svg" width="4" height="8" viewBox="0 0 4 8" fill="none">
                                <path d="M4 4L0.25 7.03109L0.25 0.968911L4 4Z" fill="currentColor" style="fill-opacity:1;"/>
                            </svg>
                        </p>
                        <ul class='custom-header-menu-list-item-submenu'>
                            {% for block in section.blocks %}
                                {% if block.type == 'submenu3' %}
                                    <li>
                                        <a href='{{ block.settings.url }}'>{{ block.settings.text }}{% if block.settings.soon == true %} <span>Soon</span>{% endif %}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li class='custom-header-menu-list-item'>
                        <p class="menu-toggle">
                            <a href='{{ section.settings.menu_url4 }}'>{{ section.settings.menu_name4 }}</a>
                             <svg xmlns="http://www.w3.org/2000/svg" width="4" height="8" viewBox="0 0 4 8" fill="none">
                                <path d="M4 4L0.25 7.03109L0.25 0.968911L4 4Z" fill="currentColor" style="fill-opacity:1;"/>
                            </svg>
                        </p>
                        <ul class='custom-header-menu-list-item-submenu'>
                            {% for block in section.blocks %}
                                {% if block.type == 'submenu4' %}
                                    <li>
                                        <a href='{{ block.settings.url }}'>{{ block.settings.text }}{% if block.settings.soon == true %} <span>Soon</span>{% endif %}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li class='custom-header-menu-list-item'>
                        <p class="menu-toggle">
                            <a href='{{ section.settings.menu_url5 }}'>{{ section.settings.menu_name5 }}</a>
                             <svg xmlns="http://www.w3.org/2000/svg" width="4" height="8" viewBox="0 0 4 8" fill="none">
                                <path d="M4 4L0.25 7.03109L0.25 0.968911L4 4Z" fill="currentColor" style="fill-opacity:1;"/>
                            </svg>
                        </p>
                        <ul class='custom-header-menu-list-item-submenu'>
                            {% for block in section.blocks %}
                                {% if block.type == 'submenu5' %}
                                    <li>
                                        <a href='{{ block.settings.url }}'>{{ block.settings.text }}{% if block.settings.soon == true %} <span>Soon</span>{% endif %}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class='custom-header-right'>
                <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                    <div class="field">
                        <input
                        class="search__input field__input"
                        id="custom-search"
                        type="search"
                        name="q"
                        value="{{ search.terms | escape }}"
                        placeholder="Search"
                        >
                        <input type="hidden" name="options[prefix]" value="last">
                        <button
                        type="reset"
                        class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}"
                        aria-label="{{ 'general.search.reset' | t }}"
                        >
                        <span class="svg-wrapper">
                            {{- 'icon-reset.svg' | inline_asset_content -}}
                        </span>
                        </button>
                        <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                        <span class="svg-wrapper">
                            {{- 'icon-search.svg' | inline_asset_content -}}
                        </span>
                        </button>
                    </div>
                </form>
                <button type="button" class='custom-header-right-search'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M8.32137 0.0674152C3.95624 0.658228 0.556972 4.14214 0.0365321 8.5451C0.00371155 8.84051 -0.0103544 9.37036 0.0084002 9.97524C0.0412207 11.2553 0.210012 12.0947 0.660122 13.2294C1.71038 15.8927 3.8906 17.9465 6.61002 18.8374C7.64152 19.175 8.50423 19.311 9.63888 19.311C11.655 19.311 13.4179 18.7812 15.0871 17.6605L15.5747 17.3323L18.8146 20.5724C21.2996 23.0528 22.1013 23.8312 22.2654 23.9015C22.5561 24.0328 23.0531 24.0328 23.3251 23.9015C23.5548 23.7937 23.8408 23.4983 23.9346 23.2685C24.033 23.0341 24.019 22.5183 23.9018 22.2651C23.8314 22.101 23.0578 21.3038 20.5728 18.814L17.333 15.5739L17.633 15.1331C18.4817 13.8905 19.049 12.4182 19.2412 10.9412C19.3303 10.2472 19.3303 9.0562 19.2412 8.3763C18.8052 5.0565 16.6672 2.18215 13.6289 0.82703C12.7475 0.433155 11.941 0.203396 10.9423 0.0627251C10.3562 -0.0216751 8.94965 -0.0216751 8.32137 0.0674152ZM11.083 2.56196C12.5505 2.88081 13.6711 3.49506 14.7448 4.56415C15.42 5.23937 15.7904 5.75047 16.1702 6.53353C17.7221 9.75486 16.6437 13.6795 13.6617 15.663C12.5036 16.432 11.3221 16.8071 9.91083 16.8587C7.76343 16.9337 5.9161 16.1741 4.39698 14.5892C3.478 13.628 2.8591 12.451 2.54965 11.0584C2.43243 10.5285 2.39961 9.1828 2.49338 8.59199C2.84503 6.40224 4.11097 4.5454 6.05207 3.39191C6.74599 2.97927 7.6931 2.64636 8.59801 2.49631C9.14189 2.40722 10.5344 2.44473 11.083 2.56196Z" fill="currentColor" style="fill-opacity:1;"/>
                    </svg>
                </button>
                <img src='{{ section.settings.flag | img_url: 'master'}}' alt='Flag'>
                          <a href="/pages/recently-viewed">
               <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.152531 12.4668C0.366938 12.7601 5.47553 19.6484 12.0001 19.6484C18.5247 19.6484 23.6335 12.7601 23.8477 12.4671C24.0508 12.1888 24.0508 11.8114 23.8477 11.5332C23.6335 11.2399 18.5247 4.35165 12.0001 4.35165C5.47553 4.35165 0.366938 11.2399 0.152531 11.533C-0.0508137 11.8112 -0.0508137 12.1888 0.152531 12.4668ZM12.0001 5.93406C16.8062 5.93406 20.9687 10.5059 22.2009 12.0005C20.9703 13.4965 16.8165 18.0659 12.0001 18.0659C7.19429 18.0659 3.03202 13.4949 1.7993 11.9995C3.02991 10.5036 7.18375 5.93406 12.0001 5.93406Z" fill="white" style="fill:white;fill-opacity:1;"/>
<path d="M12.0002 16.7473C14.6178 16.7473 16.7474 14.6176 16.7474 12C16.7474 9.38238 14.6178 7.2527 12.0002 7.2527C9.38256 7.2527 7.25289 9.38238 7.25289 12C7.25289 14.6176 9.38256 16.7473 12.0002 16.7473ZM12.0002 8.83516C13.7453 8.83516 15.165 10.2549 15.165 12C15.165 13.7451 13.7453 15.1648 12.0002 15.1648C10.255 15.1648 8.83534 13.7451 8.83534 12C8.83534 10.2549 10.255 8.83516 12.0002 8.83516Z" fill="white" style="fill:white;fill-opacity:1;"/>
</svg>

                      </a>
                      <a href="/pages/wishlist">
                          <svg class='wishlist' xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 20" fill="none">
                    <path d="M6.1172 0.020401C3.07032 0.245401 0.539074 2.55634 0.0656363 5.55634C-0.0374887 6.20321 -0.00467624 7.50165 0.131261 8.0829C0.440636 9.40477 1.02189 10.4735 2.04845 11.6079C3.13126 12.8032 6.08439 15.4516 9.53907 18.3251C11.1375 19.6516 11.3484 19.8204 11.5313 19.9141C11.7656 20.036 12.2484 20.0266 12.4922 19.9001C12.7734 19.7595 16.5984 16.5579 18.4688 14.9032C20.3109 13.272 21.8625 11.772 22.3641 11.1391C23.1328 10.1688 23.6016 9.21727 23.8688 8.0829C24.0047 7.48759 24.0375 6.18915 23.9297 5.53759C23.4563 2.6829 21.2063 0.489151 18.3047 0.0625877C17.7938 -0.0124111 16.7016 -0.0030365 16.2188 0.0813389C15.2578 0.250088 14.3016 0.639149 13.5 1.18759C13.2703 1.34696 12.8391 1.7079 12.5391 1.99384L12 2.50946L11.4609 1.99384C11.1609 1.7079 10.7344 1.35165 10.5047 1.19227C9.19689 0.296963 7.72501 -0.0967865 6.1172 0.020401ZM7.89845 2.33134C8.37657 2.47665 8.94376 2.74852 9.30001 3.00165C9.43126 3.0954 9.9422 3.56884 10.4297 4.05165C10.9219 4.53446 11.3906 4.96102 11.4797 5.0079C11.5688 5.05009 11.7609 5.10165 11.9156 5.11102C12.4031 5.1579 12.5156 5.0829 13.5469 4.07509C14.0484 3.57821 14.5688 3.0954 14.7 3.00165C15.0469 2.75321 15.6141 2.47665 16.1016 2.33134C16.4953 2.20946 16.5797 2.20009 17.3438 2.20009C18.1031 2.20009 18.1969 2.20946 18.5766 2.32665C20.0484 2.78134 21.1453 3.82196 21.6047 5.20009C22.1016 6.6954 21.7922 8.30321 20.7516 9.67196C20.3297 10.2204 18.8297 11.6735 17.1094 13.1876C15.2344 14.8423 12.0844 17.5001 12 17.5001C11.9438 17.5001 10.2609 16.0985 8.53126 14.6126C5.40001 11.922 3.6047 10.2157 3.03751 9.37665C1.12032 6.55477 2.48439 2.9829 5.77032 2.24228C5.98126 2.1954 6.27657 2.17665 6.77345 2.19071C7.36876 2.20477 7.5422 2.22352 7.89845 2.33134Z" fill="white" style="fill:white;fill-opacity:1;"/>
                </svg>
                      </a>
              
                <a href='/account'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24" fill="none">
                        <path d="M10.0391 0.0515614C8.93281 0.262499 8.13594 0.599998 7.31094 1.20937C6.06875 2.13281 5.19688 3.54375 4.925 5.0625C4.82188 5.64844 4.82188 6.67969 4.925 7.24219C5.20156 8.72812 5.96094 10.0078 7.15156 10.9828C7.23594 11.0531 7.30156 11.1187 7.29219 11.1281C7.28281 11.1375 7.0625 11.2359 6.80938 11.3437C5.58125 11.8828 4.24531 12.8719 3.33594 13.9312C1.92969 15.5672 1.10469 17.4656 0.875002 19.6031C0.757815 20.7094 0.84219 21.4125 1.17969 22.1016C1.625 23.0203 2.40313 23.6578 3.37813 23.9062C3.74375 24 3.89844 24 11 24C18.1016 24 18.2563 24 18.6219 23.9062C19.5969 23.6578 20.375 23.0203 20.8203 22.1016C21.1578 21.4125 21.2422 20.7094 21.125 19.6031C20.8953 17.4656 20.0703 15.5672 18.6641 13.9312C17.7547 12.8719 16.4188 11.8828 15.1906 11.3437C14.9375 11.2359 14.7172 11.1375 14.7078 11.1281C14.6984 11.1187 14.7641 11.0531 14.8484 10.9828C16.0391 10.0078 16.7984 8.72812 17.075 7.24219C17.1781 6.67969 17.1781 5.64844 17.075 5.0625C16.6438 2.62969 14.7547 0.670311 12.3125 0.117188C11.9 0.0234375 10.4094 -0.0187511 10.0391 0.0515614ZM12.1391 2.03437C13.7188 2.50312 14.8766 3.75469 15.2 5.34375C15.3125 5.92031 15.2703 6.81562 15.1016 7.35938C14.7359 8.52656 13.9719 9.42656 12.8984 9.96094C12.2234 10.2984 11.7172 10.4203 11 10.4203C10.2828 10.4203 9.77656 10.2984 9.10156 9.96094C8.02813 9.42656 7.26406 8.52656 6.89844 7.35938C6.72969 6.81562 6.6875 5.92031 6.8 5.34375C7.11406 3.79219 8.26719 2.51719 9.76719 2.0625C10.2875 1.90781 10.5125 1.87969 11.1406 1.89844C11.5953 1.90781 11.8156 1.94062 12.1391 2.03437ZM12.3125 12.4453C14.6797 12.8297 16.7609 14.2312 18.0781 16.3359C18.5188 17.0437 18.9313 18.0984 19.1094 18.9797C19.2313 19.5938 19.3063 20.5687 19.25 20.8687C19.1563 21.3422 18.8422 21.7594 18.4156 21.9703L18.1484 22.1016H11H3.85156L3.58438 21.9703C3.15781 21.7594 2.84375 21.3422 2.75 20.8687C2.69375 20.5687 2.76875 19.5938 2.89063 18.9797C3.51406 15.8812 5.9 13.3828 8.98438 12.5953C9.36875 12.4922 9.72031 12.4359 10.4375 12.3562C10.7422 12.3187 11.8672 12.375 12.3125 12.4453Z" fill="currentColor" style="fill-opacity:1;"/>
                    </svg>
                </a>
                <a class='custom-header-right-cart' href='/cart'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="23" viewBox="0 0 20 23" fill="none">
                        <path d="M8.92456 0.0243473C8.15105 0.166836 7.34193 0.487432 6.73636 0.894539C6.25801 1.21514 5.54048 1.97337 5.24533 2.4619C4.80769 3.19978 4.55325 4.14121 4.55325 5.04194V5.41342L3.57619 5.43378C2.6144 5.44904 2.58896 5.45413 2.31416 5.59153C1.82564 5.84597 1.47959 6.25308 1.30149 6.79758C1.24551 6.97569 0.329519 19.5349 0.314252 20.3135C0.304075 21.0972 0.690826 21.7333 1.388 22.0743L1.72895 22.2422H9.74386H17.7588L18.0488 22.1048C18.634 21.83 19.0615 21.2804 19.1582 20.6748C19.2193 20.283 18.2778 7.13345 18.1608 6.74669C18.0081 6.23781 17.6723 5.84597 17.1736 5.59153C16.8988 5.45413 16.8733 5.44904 15.9217 5.43378L14.9497 5.41851L14.9141 4.91471C14.8632 4.09541 14.7055 3.47966 14.3747 2.82829C13.7081 1.5052 12.5376 0.548498 11.1128 0.151569C10.726 0.0447025 10.497 0.0192585 9.89652 0.00399208C9.48942 -0.00618553 9.05178 0.00399208 8.92456 0.0243473ZM10.4817 1.7342C10.6802 1.77491 11.0517 1.9123 11.3112 2.03953C12.4155 2.58912 13.1483 3.70357 13.2399 4.97069L13.2704 5.4236H9.74386H6.2173L6.24783 4.97069C6.31398 4.06488 6.65494 3.31682 7.3114 2.66545C7.96277 2.01917 8.79733 1.66804 9.71841 1.66295C9.94232 1.66295 10.2884 1.69349 10.4817 1.7342ZM4.59905 9.23513C4.57869 11.3877 4.57869 11.4233 4.68556 11.5658C4.87893 11.8253 5.09775 11.9373 5.41326 11.9373C5.75421 11.9373 5.9425 11.8304 6.11552 11.5455L6.23256 11.3521V9.19951V7.05202H9.74386H13.2552V9.18933C13.2552 11.2198 13.2602 11.3419 13.3569 11.5251C13.6317 12.0696 14.4154 12.09 14.8022 11.5658C14.9039 11.4233 14.909 11.3623 14.9243 9.23513L14.9396 7.04694L15.6723 7.0622C16.2677 7.07238 16.4204 7.09274 16.4916 7.15889C16.6138 7.28611 17.5501 20.3033 17.4433 20.4713L17.3771 20.5883H9.74386H2.11061L2.04446 20.4713C1.98339 20.3746 2.03428 19.4993 2.44138 13.81C2.70091 10.2122 2.92991 7.24031 2.95027 7.20469C3.02151 7.08765 3.21489 7.05711 3.91206 7.05711L4.61432 7.05202L4.59905 9.23513Z" fill="currentColor" style="fill-opacity:1;"/>
                    </svg>
                    <div class='custom-cart-count'>
                        {% if cart.item_count > 0 %}
                        <p id="cart-item-count">{{ cart.item_count }}</p>
                        {% endif %}
                    </div>
                </a>
            </div>
            <div class='custom-header-menu-list-item-submenu big'>
                <ul class='custom-header-menu-list-item-submenu-big-left'>
                    {% for block in section.blocks %}
                        {% if block.type == 'submenu_left' %}
                            <li>
                                <a href='{{ block.settings.url }}'>{{ block.settings.text }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class='custom-header-menu-list-item-submenu-big-center'>
                    {% for block in section.blocks %}
                        {% if block.type == 'submenu_center' %}
                            <div class='custom-header-menu-list-item-submenu-big-center-item'>
                                <div class='custom-header-menu-list-item-submenu-big-center-item-image'>
                                    <img src='{{ block.settings.image | img_url: 'master' }}' alt='{{ block.settings.image_alt }}'>
                                </div>
                                <div class='custom-header-menu-list-item-submenu-big-center-item-info'>
                                    <a href='{{ block.settings.title_url }}'>{{ block.settings.title }}</a>
                                    <ul>
                                        {% for link in linklists[block.settings.item_menu].links %}
                                            <li>
                                                <a href='{{ link.url }}'>{{ link.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <ul class='custom-header-menu-list-item-submenu-big-right'>
                    {% for block in section.blocks %}
                        {% if block.type == 'submenu_right' %}
                            <li>
                                <a href='{{ block.settings.url }}'>
                                    <img src='{{block.settings.image | img_url: 'master' }}' alt='{{ block.settings.image_alt }}'>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class='mobile-menu'>
                <ul>
                    <li>
                        <p class="menu-toggle">
                            <span>{{ section.settings.menu_name1 }}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="4" height="8" viewBox="0 0 4 8" fill="none">
                                <path d="M4 4L0.25 7.03109L0.25 0.968911L4 4Z" fill="currentColor" style="fill-opacity:1;"/>
                            </svg>
                        </p>
                        <ul class='mobile-menu-submenu'>
                            {% for block in section.blocks %}
                                {% if block.type == 'submenu_center' %}
                                    <div class='mobile-menu-submenu-big'>
                                        <img src='{{ block.settings.image | img_url: 'master' }}' alt='{{ block.settings.image_alt }}'>
                                        <div class='mobile-menu-submenu-big-info'>
                                            <h3>{{ block.settings.title }}</h3>
                                            <ul>
                                                {% for link in linklists[block.settings.item_menu].links %}
                                                    <li>
                                                        <a href='{{ link.url }}'>{{ link.title }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <p class="menu-toggle">
                            <span>{{ section.settings.menu_name2 }}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="4" height="8" viewBox="0 0 4 8" fill="none">
                                <path d="M4 4L0.25 7.03109L0.25 0.968911L4 4Z" fill="currentColor" style="fill-opacity:1;"/>
                            </svg>
                        </p>
                        <ul class='mobile-menu-submenu'>
                            {% for block in section.blocks %}
                                {% if block.type == 'submenu2' %}
                                    <li>
                                        <a href='{{ block.settings.url }}'>{{ block.settings.text }}{% if block.settings.soon == true %} <span>Soon</span>{% endif %}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <p class="menu-toggle"> 
                            <span>{{ section.settings.menu_name3 }}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="4" height="8" viewBox="0 0 4 8" fill="none">
                                <path d="M4 4L0.25 7.03109L0.25 0.968911L4 4Z" fill="currentColor" style="fill-opacity:1;"/>
                            </svg>
                        </p>
                        <ul class='mobile-menu-submenu'>
                            {% for block in section.blocks %}
                                {% if block.type == 'submenu3' %}
                                    <li>
                                        <a href='{{ block.settings.url }}'>{{ block.settings.text }}{% if block.settings.soon == true %} <span>Soon</span>{% endif %}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <p class="menu-toggle">
                            <span>{{ section.settings.menu_name4 }}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="4" height="8" viewBox="0 0 4 8" fill="none">
                                <path d="M4 4L0.25 7.03109L0.25 0.968911L4 4Z" fill="currentColor" style="fill-opacity:1;"/>
                            </svg>
                        </p>
                        <ul class='mobile-menu-submenu'>
                            {% for block in section.blocks %}
                                {% if block.type == 'submenu4' %}
                                    <li>
                                        <a href='{{ block.settings.url }}'>{{ block.settings.text }}{% if block.settings.soon == true %} <span>Soon</span>{% endif %}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <p class="menu-toggle">
                            <span>{{ section.settings.menu_name5 }}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="4" height="8" viewBox="0 0 4 8" fill="none">
                                <path d="M4 4L0.25 7.03109L0.25 0.968911L4 4Z" fill="currentColor" style="fill-opacity:1;"/>
                            </svg>
                        </p>
                        <ul class='mobile-menu-submenu'>
                            {% for block in section.blocks %}
                                {% if block.type == 'submenu5' %}
                                    <li>
                                        <a href='{{ block.settings.url }}'>{{ block.settings.text }}{% if block.settings.soon == true %} <span>Soon</span>{% endif %}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="overlay"></div>
        </div>
    </div>
</header>
<script>

document.addEventListener("DOMContentLoaded", function () {
  let previousCartCount = parseInt(document.getElementById("cart-item-count")?.textContent || 0);

  // Функция для проверки состояния корзины
  function checkCartUpdates() {
    fetch('/cart.js')
      .then(response => response.json())
      .then(cart => {
        const currentCartCount = cart.item_count || 0;

        if (currentCartCount !== previousCartCount) {
          const cartItemCountElement = document.getElementById("cart-item-count");

          if (currentCartCount === 0 && cartItemCountElement) {
            cartItemCountElement.parentElement.innerHTML = '';
          } else if (cartItemCountElement) {
            cartItemCountElement.textContent = currentCartCount;
          } else {
            const cartCountWrapper = document.querySelector(".custom-cart-count");
            if (cartCountWrapper) {
              cartCountWrapper.innerHTML = `<p id="cart-item-count">${currentCartCount}</p>`;
            }
          }
        }

        previousCartCount = currentCartCount;
      })
      .catch(error => console.error('Ошибка при проверке корзины:', error));
  }

  setInterval(checkCartUpdates, 1000);
});


document.addEventListener('DOMContentLoaded', () => {
  const searchButton = document.querySelector('.custom-header-right-search');
  const searchForm = document.querySelector('.search-modal__form');

  searchButton.addEventListener('click', () => {
    searchForm.classList.add('active');
    searchButton.style.display = 'none';
  });

  document.addEventListener('click', (event) => {
    if (!searchForm.contains(event.target) && !searchButton.contains(event.target)) {
      searchForm.classList.remove('active');
      searchButton.style.display = 'block';
    }
  });
});

document.addEventListener('DOMContentLoaded', () => {
    const menuItems = document.querySelectorAll('.custom-header-menu-list-item .menu-toggle');
    
    menuItems.forEach(toggle => {
        const parentItem = toggle.closest('.custom-header-menu-list-item');
        const submenu = parentItem.querySelector('.custom-header-menu-list-item-submenu');

        toggle.addEventListener('mouseover', () => {
            document.querySelectorAll('.custom-header-menu-list-item').forEach(item => {
                item.classList.remove('open');
            });

            parentItem.classList.add('open');
            if (submenu) {
                submenu.classList.add('active');
            }
        });

        parentItem.addEventListener('mouseout', (event) => {
            if (!parentItem.contains(event.relatedTarget)) {
                parentItem.classList.remove('open');
                if (submenu) {
                    submenu.classList.remove('active');
                }
            }
        });

        if (submenu) {
            submenu.addEventListener('mouseover', () => {
                parentItem.classList.add('open');
                submenu.classList.add('active');
            });

            submenu.addEventListener('mouseout', (event) => {
                if (!submenu.contains(event.relatedTarget)) {
                    parentItem.classList.remove('open');
                    submenu.classList.remove('active');
                }
            });
        }
    });

    document.addEventListener('click', (event) => {
        if (!event.target.closest('.custom-header-menu-list-item')) {
            document.querySelectorAll('.custom-header-menu-list-item').forEach(item => {
                item.classList.remove('open');
            });
        }
    });
});

document.addEventListener('DOMContentLoaded', () => {
    const menuItemBig = document.querySelector('.custom-header-menu-list-item.big');
    const submenuBig = document.querySelector('.custom-header-menu-list-item-submenu.big');

    if (menuItemBig && submenuBig) {
        menuItemBig.addEventListener('mouseover', () => {
            menuItemBig.classList.add('open');
            submenuBig.classList.add('active');
        });

        menuItemBig.addEventListener('mouseout', (event) => {
            if (!menuItemBig.contains(event.relatedTarget) && !submenuBig.contains(event.relatedTarget)) {
                menuItemBig.classList.remove('open');
                submenuBig.classList.remove('active');
            }
        });

        submenuBig.addEventListener('mouseover', () => {
            menuItemBig.classList.add('open');
            submenuBig.classList.add('active');
        });

        submenuBig.addEventListener('mouseout', (event) => {
            if (!submenuBig.contains(event.relatedTarget)) {
                menuItemBig.classList.remove('open');
                submenuBig.classList.remove('active');
            }
        });
    }
  
});

document.addEventListener("DOMContentLoaded", () => {
    const burgerButton = document.querySelector(".burger-button");
    const burgerOpen = document.querySelector(".burger-button-open");
    const burgerClose = document.querySelector(".burger-button-close");
    const mobileMenu = document.querySelector(".mobile-menu");
    const overlay = document.querySelector(".overlay");

    if (burgerButton && mobileMenu && overlay) {
        const toggleMenu = () => {
            const isActive = mobileMenu.classList.toggle("active");
            overlay.classList.toggle("active", isActive);
            burgerOpen.classList.toggle("active", !isActive);
            burgerClose.classList.toggle("active", isActive);
        };

        burgerButton.addEventListener("click", toggleMenu);

        overlay.addEventListener("click", () => {
            if (mobileMenu.classList.contains("active")) {
                toggleMenu();
            }
        });

        document.addEventListener("keydown", (event) => {
            if (event.key === "Escape" && mobileMenu.classList.contains("active")) {
                toggleMenu();
            }
        });
    }
});

document.addEventListener('DOMContentLoaded', function () {
    const menuToggles = document.querySelectorAll('.menu-toggle');
    
    menuToggles.forEach(toggle => {
        toggle.addEventListener('click', function () {
            const submenu = this.nextElementSibling;
            
            if (submenu.classList.contains('open')) {
                submenu.classList.remove('open');
            } else {
                submenu.classList.add('open');
            }
        });
    });
});
</script>
{% schema %}
  {
    "name": "Custom Header",
    "settings": [
    {
    "type": "image_picker",
    "id": "logo",
    "label": "Logo"
    },
    {
    "type": "text",
    "id": "menu_name1",
    "label": "Menu name 1"
    },
    {
    "type": "url",
    "id": "menu_url1",
    "label": "Menu url 1"
    },
    {
    "type": "text",
    "id": "menu_name2",
    "label": "Menu name 2"
    },
    {
    "type": "url",
    "id": "menu_url2",
    "label": "Menu url 2"
    },
    {
    "type": "text",
    "id": "menu_name3",
    "label": "Menu name 3"
    },
    {
    "type": "url",
    "id": "menu_url3",
    "label": "Menu url 3"
    },
    {
    "type": "text",
    "id": "menu_name4",
    "label": "Menu name 4"
    },
    {
    "type": "url",
    "id": "menu_url4",
    "label": "Menu url 4"
    },
    {
    "type": "text",
    "id": "menu_name5",
    "label": "Menu name 5"
    },
    {
    "type": "url",
    "id": "menu_url5",
    "label": "Menu url 5"
    },
    {
    "type": "image_picker",
    "id": "flag",
    "label": "Flag"
    },
    ],
    "blocks": [
    {
      "type": "submenu_left",
      "name": "Submenu left",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Url"
        },
      ]
    },
    {
      "type": "submenu_center",
      "name": "Submenu center",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_alt",
          "label": "Image alt"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "title_url",
          "label": "Title Url"
        },
        {
          "type": "link_list",
          "id": "item_menu",
          "label": "Menu"
        },
      ]
    },
    {
      "type": "submenu_right",
      "name": "Submenu right",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_alt",
          "label": "Image Alt"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Url"
        },
      ]
    },
    {
      "type": "submenu2",
      "name": "Submenu 2",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Url"
        },
        {
          "type": "checkbox",
          "id": "soon",
          "label": "Soon?",
          "default": false
        },
      ]
    },
    {
      "type": "submenu3",
      "name": "Submenu 3",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Url"
        },
        {
          "type": "checkbox",
          "id": "soon",
          "label": "Soon?",
          "default": false
        },
      ]
    },
    {
      "type": "submenu4",
      "name": "Submenu 4",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Url"
        },
        {
          "type": "checkbox",
          "id": "soon",
          "label": "Soon?",
          "default": false
        },
      ]
    },
    {
      "type": "submenu5",
      "name": "Submenu 5",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Url"
        },
        {
          "type": "checkbox",
          "id": "soon",
          "label": "Soon?",
          "default": false
        },
      ]
    },
  ],
     "presets": [
    {
      "name": "Custom Header"
    }
  ]
  }
{% endschema %}