<div class="product-tabs-section">
    <div class="container">
        <div class="tabs">
            <button class="tab-button active" data-tab="tab-1">{{ section.settings.tab_1_name }}</button>
            <button class="tab-button" data-tab="tab-2">{{ section.settings.tab_2_name }}</button>
            <button class="tab-button" data-tab="tab-3">{{ section.settings.tab_3_name }}</button>
            <button class="tab-button" data-tab="tab-4">{{ section.settings.tab_4_name }}</button>
            <button class="tab-button" data-tab="tab-5">{{ section.settings.tab_5_name }}</button>
            <button class="tab-button" data-tab="tab-6">{{ section.settings.tab_6_name }}</button>
            <button class="tab-button" data-tab="tab-7">{{ section.settings.tab_7_name }}</button>
        </div>
        <select class="tab-select" aria-label="Select Tab">
            <option value="tab-1" selected>{{ section.settings.tab_1_name }}</option>
            <option value="tab-2">{{ section.settings.tab_2_name }}</option>
            <option value="tab-3">{{ section.settings.tab_3_name }}</option>
            <option value="tab-4">{{ section.settings.tab_4_name }}</option>
            <option value="tab-5">{{ section.settings.tab_5_name }}</option>
            <option value="tab-6">{{ section.settings.tab_6_name }}</option>
            <option value="tab-7">{{ section.settings.tab_7_name }}</option>
        </select>
    </div>

        <div class="tab-content active" id="tab-1">
            <div class="details-tab">
                <div class="custom-discovery-line"></div>
                <div class="custom-discovery-line"></div>
                <div class="custom-discovery-line"></div>
                <div class="custom-discovery-line"></div>
                <div class="container">
                    <div class="details-wrap">
                        <div class="details-head">
                            <div class='custom-best-seller-top tab-details-top'>
                                <div>{{ section.settings.details_absolute }}</div>
                                <h2>{{ section.settings.details_heading }}</h2>
                            </div>
                        </div>
                        <div class="details-body">
                            <div class="details-body-content">
                                <div class="details-body-content-left">
                                    <img src="https://cdn.shopify.com/s/files/1/0551/0728/9186/files/Group_46.png?v=1735622270" alt="">
                                </div>
                                <div class="details-body-content-right">
                                    <div class="details-body-content-right-head">
                                        {{ section.settings.details_heading_right }}
                                    </div>
                                    <div class="details-body-content-right-content">
                                        {{ section.settings.details_text_right | newline_to_br }}
                                    </div>
                                    <div class="details-body-content-right-icons">
                                        <div class="details-body-content-right-icons-wrap">
                                            <div class="details-body-content-right-icon">
                                                {% if section.settings.svg_code %}
                                                  {{ section.settings.svg_code }}
                                                {% endif %}
                                                <span>
                                                  {% if section.settings.svg_span_1 %}
                                                    {{ section.settings.svg_span_1 }}
                                                  {% endif %}
                                                </span>
                                            </div>
                                            <div class="details-body-content-right-icon">
                                                {% if section.settings.svg_code %}
                                                  {{ section.settings.svg_code }}
                                                {% endif %}
                                                <span>
                                                  {% if section.settings.svg_span_2 %}
                                                    {{ section.settings.svg_span_2 }}
                                                  {% endif %}
                                                </span>
                                            </div>
                                            <div class="details-body-content-right-icon">
                                                {% if section.settings.svg_code %}
                                                  {{ section.settings.svg_code }}
                                                {% endif %}
                                                <span>
                                                  {% if section.settings.svg_span_3 %}
                                                    {{ section.settings.svg_span_3 }}
                                                  {% endif %}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="details-body-content-right-btn">
                                        <a href="#" class="details-body-content-right-btn-item" >DISCOVER MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content" id="tab-2">
            <div class="page-width">
                {{ product.description }}
            </div>
        </div>
        <div class="tab-content" id="tab-3">Tab-3 Content</div>
        <div class="tab-content" id="tab-4">Tab-4 Content</div>
        <div class="tab-content" id="tab-5">Tab-5 Content</div>
        <div class="tab-content" id="tab-6">Tab-6 Content</div>
        <div class="tab-content" id="tab-7">Tab-7 Content</div>
</div>

<style>


.details-wrap{
    padding: 30px 0px 126px 0px;
}

.details-body-content-right-btn-item{
    color: #FFF;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 87px;
    border-radius: 12px;
    background: #40AE00;
    margin-top: 40px;
}

.details-body-content-right-icon{
    display: flex;
    gap: 10px;
    align-items: center;
}
    
.details-body-content-right-icons-wrap{
    display: flex;
    gap: 38px;
    align-items: center;
}

.details-body-content-right-content{
    font-family: "Proxima Nova";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 32px;
}

.details-body-content-right-head{
    color: #FFF;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 30px 0;
}

.details-body-content-right{
    max-width: 730px;
    width: 100%;
}
.details-body-content-left{
    max-width: 351px;
    width: 100%;
}
.details-body-content-left img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.details-body-content{
    display: flex;
    align-items: flex-end;
    gap: 38px;
}

.details-body-content p {
  margin: 15px 0;
}

  .details-body-content-right{
    color: #fff;
}
  .tabs-container {
    font-family: Arial, sans-serif;
  }

  .tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #e0e0e0;
    gap: 44px;
    height: 50px;
  }

  .tab-button {
    padding: 10px 0px;
    background: none;
    border: none;
    border-bottom: 3px solid transparent;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s, border-color 0.3s;

    color: #727272;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .tab-button:hover {
    color: #60AC22;
  }

  .tab-button.active {
    color: #60AC22;
    border-bottom: 3px solid #60AC22;
    margin-bottom: -2px;
  }

  .tab-content {
    display: none;
    border-top: none;
  }

  .tab-content.active {
    display: block;
  }
  .tab-details-top div{
    width: 100%;
    left: 0;
}
  .tab-details-top h2{
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}
.details-head{
    padding-top: 103px;
    text-align: center;
}
.details-tab{
    background: #000;
    width: 100%;
    position: relative;
}
.tab-content.active{
    padding-top: 55px;
}

.tab-select {
    display: none;
    width: 100%;
    max-width: 500px;
    padding: 18px 16px;
    border-radius: 12px;
    border: 1px solid #E0E0E0;

    color: #40AE00;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

@media screen and (max-width: 1120px) {
  .tabs {
    display: none;
  }

  .tab-select {
    display: block;
  }
}
@media screen and (max-width: 768px) {
    .product--thumbnail_slider{
        display: flex;
        flex-direction: column;
    }
    .product--large:not(.product--no-media) .product__media-wrapper{
        max-width: 100% !important;
        max-height: 100% !important;
        flex-direction: column-reverse;
    }
    .product__vertical-swiper__container{
        max-width: 100%;
    }
    .product__vertical-swiper__item{
        height: 100%;
    }
    .product--large:not(.product--no-media) .product__info-wrapper{
        max-width: 100% !important;
        padding-top: 41px !important;
    }
    .details-body-content{
        flex-direction: column-reverse;
        align-items: center;
    }
    .details-body-content-right-icons-wrap{
        align-items: flex-start;
        flex-direction: column;
        gap: 16px;
    }
    .details-body-content-right-btn{
        display: none;
    }
    .custom-result-body-wrap{
        flex-direction: column;
    }
    .alt-result-body-wrap{
        flex-direction: column;
    }
    .breadcrumbs{
        display: none;
    }
}



</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tabs = document.querySelectorAll(".tab-button");
    const contents = document.querySelectorAll(".tab-content");
    const tabSelect = document.querySelector(".tab-select");

    // Обработчик для кнопок
    tabs.forEach((tab) => {
      tab.addEventListener("click", function () {
        const target = this.getAttribute("data-tab");

        // Удалить классы "active"
        tabs.forEach((t) => t.classList.remove("active"));
        contents.forEach((c) => c.classList.remove("active"));

        // Добавить активный класс
        document.getElementById(target).classList.add("active");
        this.classList.add("active");

        // Синхронизировать с select
        tabSelect.value = target;
      });
    });

    // Обработчик для выпадающего меню
    tabSelect.addEventListener("change", function () {
      const target = this.value;

      // Удалить классы "active"
      tabs.forEach((t) => t.classList.remove("active"));
      contents.forEach((c) => c.classList.remove("active"));

      // Добавить активный класс
      document.getElementById(target).classList.add("active");

      // Синхронизировать с кнопками
      const activeButton = document.querySelector(`.tab-button[data-tab="${target}"]`);
      if (activeButton) {
        activeButton.classList.add("active");
      }
    });
  });
</script>



{% schema %}
  {
    "name": "Product tabs",
    "settings": [
        {
            "type": "text",
            "id": "tab_1_name",
            "label": "Name of tab 1",
            "default": "Details"
        },
        {
            "type": "text",
            "id": "tab_2_name",
            "label": "Name of tab 2",
            "default": "Descriptions"
        },
        {
            "type": "text",
            "id": "tab_3_name",
            "label": "Name of tab 3",
            "default": "KEY FEATURES"
        },
        {
            "type": "text",
            "id": "tab_4_name",
            "label": "Name of tab 4",
            "default": "WHAT'S ON THE BOX"
        },
        {
            "type": "text",
            "id": "tab_5_name",
            "label": "Name of tab 5",
            "default": "SIZING GUIDE"
        },
        {
            "type": "text",
            "id": "tab_6_name",
            "label": "Name of tab 6",
            "default": "INSTRUCTIONS"
        },
        {
            "type": "text",
            "id": "tab_7_name",
            "label": "Name of tab 7",
            "default": "REVIEWS"
        },
        {
            "type": "text",
            "id": "details_absolute",
            "label": "Absolute text of details-tab",
            "default": "Proven Result"
        },
        {
            "type": "text",
            "id": "details_heading",
            "label": "Heading of details-tab",
            "default": "Proven Result"
        },
        {
            "type": "text",
            "id": "details_heading_right",
            "label": "Heading of right inside details-tab",
            "default": "60 day money back guarantee, no quibbles!"
        },
        {
            "type": "richtext",
            "id": "details_text_right",
            "label": "Text of right inside details-tab"
        },
        {
            "type": "textarea",
            "id": "svg_code",
            "label": "Icon:",
            "info": "Enter SVG-code here"
        },
        {
            "type": "text",
            "id": "svg_span_1",
            "label": "SVG Span Text:",
            "default": "60 days to decide"
        },
        {
            "type": "text",
            "id": "svg_span_2",
            "label": "SVG Span Text:",
            "default": "No questions asked"
        },
        {
            "type": "text",
            "id": "svg_span_3",
            "label": "SVG Span Text:",
            "default": "Full money refund"
        }
    ],
     "presets": [
    {
      "name": "Product tabs"
    }
  ]
  }
{% endschema %}