<style>
    .return-one {
        padding: 57px 0;
    }

    @media screen and (max-width: 768px) {
  .return-one  {
     padding: 34px 0;
  }
}

    .return-one-title {
    display: flex;
    margin-bottom: 17px;
    width: 100%;
    position: relative;
    flex-direction: column;
    align-items: center;
    }

@media screen and (max-width: 768px) {
  .return-one-title {
    margin-bottom: 13px;
  }
}

.return-one-title div {
  position: absolute;
  width: 100%;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-text-stroke-color: #c6c6c6;
  -webkit-text-stroke-width: 1px;
  font-family: Proxima Nova;
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: transparent;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .return-one-title div {
    font-size: 35px;
    top: -20px;
    left: 50%;
  }
}

.return-one-title h2 {
  color: #05060B;
  font-family: "Proxima Nova";
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .return-one-title h2 {
    font-size: 25px;
  }
}

.return-one-item {
    color: #05060B;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.return-one-item p {
    margin-bottom: 25px;
    font-family: "Proxima Nova";
}

.return-one-item h3 {
    font-weight: 900;
    font-family: "Proxima Nova";
}

.return-one-item a {
    font-weight: 400;
    color: #05060B;
    text-decoration: underline;
}

.return-one-item ul {
    padding: 0;
    margin-bottom: 27px;
}

.return-one-item ul li {
    position: relative;
    padding-left: 30px;
}

.return-one-item ul li::after {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url({{ "returns-check.svg" | asset_url }});
    background-repeat: no-repeat;
    background-size: cover;
    width: 17px;
    height: 17px;
    content: '';
}

.return-one-bottom {
    padding: 25px 22px;
    border-radius: 12px;
    border: 1px solid #40AE00;
    background: #FFF;
    box-shadow: 0px 0px 18.6px 0px rgba(0, 0, 0, 0.07);
}

.return-one-bottom h3 {
    color: #40AE00;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.return-one-bottom p {
    color: #05060B;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
</style>

<section class='return-one'>
    <div class='container'>
        <div class='return-one-title'>
            <div>{{ section.settings.title_absolute }}</div>
            <h2>{{ section.settings.title }}</h2>
        </div>
        <div class='return-one-item'>
            {{ section.settings.text }}
        </div>
        <div class='return-one-bottom'>
            <h3>{{ section.settings.bottom_title }}</h3>
            <p>{{ section.settings.bottom_text }}</p>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Custom Return 2",
    "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
        "type": "text",
        "id": "title_absolute",
        "label": "Title Absolute"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "Text"
    },
    {
        "type": "text",
        "id": "bottom_title",
        "label": "Bottom Title"
    },
    {
        "type": "textarea",
        "id": "bottom_text",
        "label": "Bottom Text"
    },
    ],
     "presets": [
    {
      "name": "Custom Return 2"
    }
  ]
  }
{% endschema %}